

.full-width-xs 										{ margin: 0 -#{$gut-ms} }
html.fit-screen .fit-con 							{ padding:$gut-ms }


.con 												{ padding-left:$gut-ms; padding-right:$gut-ms;
	
	@if ( $gl-gut != $gut-ms ) 						{
		
		> [class*="row"]:not(.ns):not(.nsc) 		{ margin-left:-$gut-ms; margin-right:-$gut-ms;
			> [class*="col"] 						{ padding-left:$gut-ms; padding-right:$gut-ms }
		}	
	}
}

.gut-x 												{  padding-left:$gut-ms; padding-right:$gut-ms } 

.con-sm  											{ padding-left:$gut-ms; padding-right:$gut-ms; max-width:$case-max;  width:100%; margin-left:auto; margin-right:auto;
	&.np,&.row:not(.nsc) 							{ padding-left:0; padding-right:0 }
}
