.app-menu 				{ background:$gray-3; min-width:$case-min; transition: background .3s, bottom .3s; border-top: 1px solid $gray-4; width:100%; height:$app-menu; position:fixed; left:0; bottom:0;
	
	.cache-reset 		{ width:50px; transition:.5s; visibility:hidden; transform:translate(100px,0);  color:#888; @include flex_mc(); background:none;
		i 				{ top:2px }
	}

	> s 				{ background:rgba(255,255,255,.3); @include kapla(2); display:none }
	
	ul.row li 			{
		a 				{ @include flex_mc(); color:#555; width:100%; height:100% ; text-align:center;
			b 			{ display: block; font: 400 11px/1 'Brandon'; color:#000; letter-spacing:1px;  padding-top:4px }
			.n 			{ position: absolute; visibility:hidden; border-radius: 3px; padding: 1px 4px 1px 3px;  top:-5px; background: #999; color: white; font-size:9px; font-weight:400; z-index:0  }
			.n.on 		{ visibility: visible  }
			.n s		{ width:0; height: 0; border-style: solid; border-width: 8px 8px 0 0; border-color: #999 transparent transparent transparent; position: absolute; left: 0; bottom: -3px; z-index: -1 }
		}
		&.on a 			{ color:$color-2; b {color:$color-2;}  }
		
		.n 				{ animation-duration: .3s; animation-fill-mode: both }
		&.on .n 		{ visibility:hidden;  background:#f75555; s { border-color: #f75555 transparent transparent transparent } }

		//&.active .n		{ visibility:visible;  animation-name: zoomIn; }
		&.update .n		{ visibility:visible;  animation-name: zoomIn; }
		&.cari .n 		{ right: -35px; }
		&.spet .n 		{ right: -5px; padding: 1px 4px 1px 4px; background:#f75555; s { border-color: #f75555 transparent transparent transparent } }

	}

	li i 				{ font-size: 20px; line-height:20px; height:20px; display:block;
		&.icon-home-5	{ top:-1px; font-size:18px }
		&.ss-cart		{ font-size: 18px;  line-height:24px  }
		&.ss-index		{ font-size: 19px; line-height:22px  }
		&.ss-user		{ font-size: 17px; top:-1px; line-height:22px }
		&.icon-islem	{ font-size: 13px;line-height:18px }
		&.icon-shop-b 	{ top:-.5px; font-size:19px;}
		&.icon-power-c	{ top:0; font-size:16px;}
	}

	.e-reset{ background:none; opacity:0; width:50px; height:100%; left:0; bottom:0; position:absolute }
	.full { background:none; opacity:0; width:50px; height:100%; }

	.arma 					{ width:48px; transform:translate(-50%,0 ); left:50%; top:-11px;   position: absolute;

	}

	.cac-rst 			{ color:$color-1; cursor:pointer; display:flex; align-items:center;  font-size:17px;margin-right:18px; 
		i 				{ transform: rotate( deg);display: block; top:1px; transition-timing-function: linear;transition: .5s;  }
		&:hover i 		{ transform: rotate( 360deg) }
	}

	.tag-use 			{ position:absolute; font:400 9px Gotham Rounded; color: #888; letter-spacing: 1.2px; top:30px; left:17px;
		i 				{ top:1px; color:#da764e; font-size:8px; margin-right:3px }
	}
	
	nav.prt 			{ height:100%; display:flex; }

	.cxt-nav 			{ height:100%; width:30px; text-align:left;
		.cxt-u ul li>a  { height:44px; justify-content:space-between;
			span 		{ color:#999; font-size:10px }
		}
		a.cxt-r			{ @include flex_mc(); height: 100%; text-align: left; color: #a7a7a7;
			&:hover 	{ color:#555 }
			span 		{ display: block;transform: rotate(90deg);font-size: 21px;font-weight: 700;letter-spacing: -1.5px;font-family: 'Source Sans Pro';text-align: center;left: 7px; }
		}

		
	}


}

html[mod='4'] .app-menu 	{
	 li.cari .n 			{ right:-43px }
}


body.m-edit .app-menu 		{
	> s 					{ display: block }
}



@media #{$gl-xs} 			{
	.app-menu 				{
		li a b 				{ display: none }
		li a .n 			{ font-size:8px }
		li.cari .n 			{ right: -31px; top:-12px}
		li.spet .n 			{ right: -15px; top:-11px}
		li i 				{ top:2px;
			&.icon-home-5	{ top:1px;}
			&.ss-cart		{ }
			&.ss-index		{ }
			&.ss-user		{ top:1px; }
			&.icon-islem	{ }
			&.icon-shop-b 	{ top:1.5px }
			&.icon-power-c	{ top:0}
		}
	}
}


/*
@ bu kodlar gecici temizlenecek sonra */

body.sepet,
body.urun.all-list,
body.cari.list  			{ .app-menu .cache-reset  { visibility:visible; transform:translate(0px,0); } }

