.app-head 					{ transition: background .3s; min-width:$case-min;height:var(--app-head); border-bottom:1px solid $gray-2; width:100%; position:fixed; left:0; background:#f6f6f6;
	
	> div 					{ opacity:1 ;  transition: opacity .6s }
	
	.arma 					{ width:48px; transform:translate(-50%,0 ); left:50%; top:39px;   position: absolute;

	}


	@extend %app-head;

	h1 						{ font: 800 15px/1 'Brandon'; top:1px; text-transform: uppercase; color:#333 ; letter-spacing:.8px;  }
	
	nav.sol, nav.sag 		{ @include flex_yc(); animation-fill-mode: both;  }
	nav.sag 				{ justify-content: flex-end }

	.fe 					{ display:flex; align-items:center;justify-content: flex-end; height:100% }
	
	.tit					{ left:0; transition:.5s  }
	
	a 						{ color:$color-1 }
	

	.b 						{ height:100%; @include flex_yc(); padding-left:5px ; padding-right:5px;
		> span 				{ font:600 15px/1 'Source Sans Pro'}
	}

	.sol > *:first-child 	{ padding-left: $gl-gut  }
	.sag > *:last-child 	{ padding-right: $gl-gut }
	
	.sag > .nr 				{ padding-right: 0 }
	.sol > .nr 				{ padding-left: 0 }

	.sag > .r				{ padding-right: $gl-gut }
	
	.sag .cr				{ padding-right: $gl-gut }
	.sol .cl				{ padding-left: $gl-gut }


	.edit-link 					{

		span:nth-child(2) 		{ display: none }
		&.on  					{ 
			span:nth-child(2) 	{ display: inline }
			span:nth-child(1) 	{ display: none }
		}
	}

	
	.f-3,.cari-link 		{
		i.sag 				{ font:500 18px 'Gotham Rounded'; top:1px }
		i.sol 				{ color:#333; margin-right:8px; font-size:12px}
	}


	.f-hesap				{
		i.sol 				{ color:#333; margin-right:5px; top:1px; font-size:13px}
		.int 				{ font-size:11px ; margin-left:10px; letter-spacing:.8px; color:#666 }
	}

	.sepet-link 			{
		
		i.sol 				{ color:#333; margin-right:8px; font-size:12px; top:1px }
	}

	.save-link 				{

		i.sol 				{ color:#333; margin-right:8px; font-size:12px }
		i.ss-gizmo.ss-check { margin-right:5px; font-size:14px; top:1px  }
	}
	
	
	.plus-link 				{

		> i.sag 			{ @include icofix(15,13) }
	}
	
	
	.step-link,
	.prev-link 				{ min-width:30px; 
		i.sol 				{ @include icofix(16,13);}
		span 				{ margin-left: 10px  } 
		&.has 				{ visibility: hidden;
			&.on 			{ visibility: visible }
		}
	}

	
	.dt-ctrl 				{
		> * 				{ margin-left:10px }
		.b > i 				{ color:#333 }
		.dtc-checks i 		{ font-size:12px; margin-right:6px; }
		.dtc-remove i 		{ color:$color-3; font-size:12px;margin-right:6px; }
	}

	.dt-ctrl .e-islem 		{
		.ia 				{ top: 2px; color:$color-3; margin-right:3px; font-size:10.5px; }
		.ib 				{ font-size: 11px; top:1px; color:#444; margin-left:4px  }
	}	
}



@media #{$gl-xs} 				{

	.app-head 					{
		

		.dt-ctrl 				{
			
			.dtc-remove i 		{ color:$color-3; top:1px; font-size:11px }
		}

		h1						{ font-size: 12px }
		.b 						{ 
			> span 				{ font-size:14px; }
		}


		.f-3,.cari-link 		{
			i.sag 				{  font-size:22px; top:3px ; right:-2px;}
			
		}
		.cari-link 				{
			i.sol 				{ font-size:15px; right:-4px; top:1.5px; color:$color-1; margin:0}
		}
	
		.sepet-link 			{
		
			i.sol 				{ margin-right:4px; font-size:11px; top:1px }
		}
		
		.sol > *:first-child 	{ padding-left: .6rem  }
		.sag > *:last-child 	{ padding-right: .6rem }

		.sag > .r				{ padding-right: .6rem }
	
		.sag .cr				{ padding-right: .6rem  }
		.sol .cl				{ padding-left: .6rem  }

	}
}



