:root 								{
	--app-side 		: 320px;
	--app-head 		: 50px ;
	--app-menu 		: 62px ;
	--app-body 		: 656px;
}


$app-head : 50px;
$app-menu : 62px;


@import "screen";


/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
 @ temel layout olcu etikleri */


html 								{ font: 300 14px 'Poppins'; -webkit-text-size-adjust: 100%;  text-size-adjust: 100% }
html,body 							{ min-height:100%; width:100% }
body::-webkit-scrollbar 			{ display: none}
body 								{ overflow-x: hidden ; transition: opacity .3s; opacity: 1 ; /*min-width:1024px; min-height:768px*/ }

html.query 							{ pointer-events: none; background:url('img/load/spin.gif') no-repeat center center;
	body							{ opacity: 0 }
}



/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
 @ temel layout olcu etikleri */

.con  								{ width:100%; max-width:$case-max; padding-left: $gl-gut;  padding-right: $gl-gut ; margin-left:auto; margin-right:auto; 
	&.np 							{ padding-left:0; padding-right:0 }
	&.row 							{
		//&:not(.nsc) 				{ padding-left:0; padding-right:0 }
	}
}

.e  								{ padding-left: $gl-gut;  padding-right: $gl-gut  }
// .wy 								{ height: var(--app-body) }
// .wy-max-s							{ max-height: calc( var(--app-body) - var(--area) ) }
// .wy-s								{ height: calc( var(--app-body) - var(--area) ) }



/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
 @ app bars  */

body.stick-150 .app-head   			{ box-shadow: 0 0 10px rgba(0,0,0,.2)   }
body.stick-150 .app-menu   			{ box-shadow: 0 0 10px rgba(0,0,0,.1) }
.app-menu,.app-head 				{ z-index:4; }


/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
 @ app body */

.app-body 							{ padding-top: var(--app-head); padding-bottom:$app-menu; transition:background .5s; background:white; z-index:2; min-height:100%; transition: transform .5s; }
.app-body > .scr 					{ @include kapla(2); visibility:hidden; background:white; opacity:0; transition:.3s }
html.back-gray .app-body			{ background:#f9f9f9 }


/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
 @ con us text bar */

.con-us 							{
	
	.nt 							{

		> li 						{ margin-right: 25px; &:last-child{ margin-right:0 } }
	}

	.uf-7  							{ 
		.uf 						{ color:#777; font:400 14px 'Ubuntu'; letter-spacing:.1px;
			i 						{ color:$color-1; margin-right:4px }
			.ss-view 				{ top:2px; }	
			.ss-replay 				{ top:2px; font-size:12px  }	
			.ss-shuffle 			{ top:1px; font-size:12px  }	
		}
	}
	

	.uf-5  							{ 
		
		button.uf 					{ background: none }

		.uf 						{ color:$color-1; font:600 14.5px 'Source Sans Pro'; display:inline-flex; align-items:center;
			
			&.color-1 				{ color:#444 }

			i 						{ color:#555 }
			
			i:not(.r) 				{ margin-right:5px }

			.ss-flash 				{ font-size:11px}
			i.ss-trash				{ top:2px }
			i.ss-user				{ top:1px; font-size:13px 	}
			i.icon-check			{ top:1px; font-size:12px;  margin-right:6px }
			i.ss-repeat				{ top:2px; font-size:15px   }
			i.icon-set1				{ top:0; font-size:13px   }
			//i.icon-set-a			{  font-size:16px   }

			.icon-tick 				{ font-size:13px ; top:1px}
			.icon-tick-c 			{ font-size:17px; top:1px }
			.icon-tick-a 			{ font-size:16px; }
			.icon-set-a 			{ font-size:16px; top:1px; font-weight:600 }
			.icon-set-bf 			{ font-size:18px }
			.icon-flash-c			{ font-size:18px ;}
			
		}
		
		&[punt='145'] .uf 			{ font-size:14.5px }
		&[punt='15'] .uf 			{ font-size:15px }

		&.cari-link 				{
			i 						{ font-size:12px }
		}
	}

	
	.e-trash 						{ 
		.ss-trash 					{ color:$color-2 }
	}
	

	.dt-ctrl 						{

		.dtc-checks i 				{ color:#333 }
		.dtc-remove i 				{ color:$color-3; font-size:11px; margin-right:6px; }

		.dtc-checks.clored 			{ 
			
			&.on i					{ color: #ff5b28 }
			&.on 					{ color: #ff8080 }
			
		}
	}


	.e-islem 						{

		
		&.uf .ia 					{ color:$color-3 }
		.ia 						{ top: 2px;  }
		.ib 						{ font-size: 11px; top:1px; color:#888; margin-left: 3px  }
	}
	
}



/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
 @ app body */

html.side-on .app-body 				{ transform: translate(var(--app-side),0); > s.scr { visibility: visible; opacity:.2 } }

.app-side 							{ background:#f5f4f4; z-index:1; height:100%; top:0; border:1px solid #eaeaea; padding-top:var(--app-head); padding-bottom:$app-menu; position: fixed; width: var(--app-side);
	&.r 							{ right:0 }
	&:not(.r)						{ left:0 }
}

%app-head 							{ height: var(--app-head); border-bottom:1px solid $gray-2; width:100%; left:0; background:#f6f6f6 }


/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
@ html > load url > client > swipe (gecis harektleri ) */

.swipe 								{ z-index:3; visibility:hidden; display:flex; align-items:flex-end; justify-content:center; position:fixed; /*box-shadow: 0 0 6px rgba(0,0,0,.25);*/  transition: transform .8s, opacity .4s;   height:calc( 100% - #{$app-menu} ); top:0; width:100%; background:#fdfdfd;
	
	//svg 							{ width:66px }
	//img 							{ width: 30%; min-width: 80px; max-width:280px }
	
	> img 							{ height: 85%; bottom: -50%; max-width: 900px; width: auto; }
	span 							{ position: absolute; width:100%; top:50%; transform:translateY(50%); text-align:center;  margin-top: -60px; }
	span img 						{ width:108px; filter: grayscale(100%); opacity:.65;    margin: 0 auto 9px auto; }
	s								{ position:absolute; top:0; @extend %app-head }	
	&.next 							{ transform: translate(100%,0)  }
	&.back 							{ transform: translate(-100%,0) }
	&.on 							{ visibility:visible }
}
.swipe-zero 						{ z-index:2; width:100%; height:100%; position: absolute; left:0; top:0;  display:none; background:rgba(218, 218, 218, 0.25) }

/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
@ html > load url page mod */

html.load-url 						{ pointer-events:none; 
	
	
	&:not(.out) .swipe-zero 		{ display: block }
	//.app-menu,.app-head 			{ background: white }
	
	&:not(.out) .swipe.on  			{  transform: translate(0,0) }
	//:not(.out) .app-body 			{  transition: transform 1s; transform: translate(-20%,0) }
	
	&[rel='1']   					{

		.app-head > div				{ opacity: 0 }
		//.app-head .tit			{ animation-name: slideOutLeft; animation-duration: .3s;  }
		.app-head .tit				{ left:-100px }
		.app-head nav.sag			{ animation-name: slideOutRight; animation-duration: 4s; }
		.app-head nav.sol			{ animation-name: slideOutLeft;; animation-duration: 4s;  }
	}

	&[rel='2']  					{
		
		&:not(.out) .app-body  		{ transition: transform 0s; transform: translate(0,0) }
		&:not(.out) .swipe  		{ opacity:0 }
		.app-head .tit				{ left:0; transition:0s }
		.app-head > div				{ opacity:1 }
		&:not(.out) .swipe-zero 	{ display: none }
	}

	&[rel='3'] 						{ 
		.app-head .tit				{ left:0; transition:0s }
		&:not(.out) .app-body  		{  transition: transform 0s; transform: translate(0,0)}
		&:not(.out) .swipe 			{ display:none }
		&:not(.out) .swipe-zero 	{ display: none }
	}
}


/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
@ html > load url out mod */

.load-fade 							{ opacity:1; transition: opacity .4s }

html.load-url.out 					{
	
	.load-fade 						{ opacity: 0 }

	/*
	.con-as 						{ 
		.load 						{ visibility: visible; position:absolute; left:0; top:0; width:100%; 
			svg 					{ width: 36px }
		}
	} */


	#code-builds .load.f-body 		{ display: block;
		span 						{ opacity: 1 }
	}

	
	&[rel='2']  					{
		.con-as 					{  transition: transform 0 ;  }
		#code-builds .load.f-1 		{ 
			span 					{ opacity: 0 }
			span img				{ bottom: -160% }
		}
	}
	&[rel='3']  					{
		.con-as 					{ opacity: 1;  }
		#code-builds .load.f-1 	{ 
			span 					{ opacity: 0   }
			
		}
	}
}

/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
@ body > edit mod  */

body 								{

	&:not(.m-edit) .on-ed 			{ display: none !important }	
	&.m-edit .of-ed 				{ display: none !important }
}

/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
@ body > on body mod */

body 								{
	
	&.on .of-body 					{ display: none }
	&:not(.on) .on-body 			{ display: none }

	&.data-no-result .on-data 		{ display: none }
	&:not(.on) .of-data 			{ display: none }

	&.data-no-result .disabled-data { pointer-events: none; cursor:default; opacity:.8; filter:grayscale(100%); }
	
	.of-body .text:not(.on) 		{ display: none }
}


/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
@ html > cari mod */


html 								{
	
	// &:not(.no-cari) .of-cari 		{ display: none }	
	// &.no-cari .on-cari 				{ display: none }

	// &:not(.no-cari-tum) .of-cari-tum{ display: none }	
	// &.no-cari-tum .on-cari-tum 		{ display: none }

	&[cari='not'] { .on-cari, .on-ctum, .on-call { display: none } }
	&[cari='all'] { .of-ctum, .of-cari, .of-call { display: none } }
	

	&[cari='tur'] { .of-call  { display: none } }
	&[cari='tum'] { .of-call  { display: none } }

	&[cari='tur'] { .of-cari,.on-ctum { display: none } }
	&[cari='tum'] { .of-ctum,.on-cari { display: none } }


	
	// 6 : Guest Misafir > Sadece  market view (görüntüleme okuma) modunda gezebilir

	&[mod='6'] 		 { .of-mod-6 { display: none } }
	&:not([mod='6']) { .on-mod-6 { display: none } }
	
	// 5 :  Z oturumunun bilgileriyle acılıs yaptiran yetkili kisi onun adina her seyi yapar

	&[mod='5'] 		 { .of-mod-5 { display: none } }
	&:not([mod='5']) { .on-mod-5 { display: none } }
	
	[mod-on]{ display: none }

	// 4: TD : Tedarikci markette kendi ürününü siparis verebilir

	&[mod='4'] 		 { .of-mod-4 { display: none } }
	&:not([mod='4']) { .on-mod-4 { display: none } }


	&[mod='4'] 		 { *[mod-of*='4'] { display: none } }
	//&[mod='4'] 		 { *:not([mod-on*='4']) { display: none } }
	//&[mod='4'] 		 { [mod-on]:not([mod-on*='4']) { display: none } }
	&[mod='4'] 		 { *[mod-on*='4'] { display: inherit } }
	// 3: Cari : Musteri sadece markette kendi adına siparis verebilir
	
	&[mod='3'] 		 { .of-mod-3 { display: none } }
	&:not([mod='3']) { .on-mod-3 { display: none } }

	&[mod='3'] 		 { *[mod-of*='3'] { display: none } }
	//&:not([mod='3']) { *[mod-on*='3'] { display: none } }
	
	&[mod='3'] 		 { *[mod-on*='3'] { display: inherit } }
	
	
	
	// 2: Vf / ZY  : Birden cok z yonetimine olan kullanicidir VF gibi 

	&[mod='2'] 		 { .of-mod-2 { display: none } }
	&:not([mod='2']) { .on-mod-2 { display: none } }
	
	// 1 : Kullanıcı kendisine bagli z yi yönetiyor

	&[mod='1'] 		 { .of-mod-2 { display: none } }
	&:not([mod='1']) { .on-mod-2 { display: none } }

	


}

/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
@  */









/*

html.on-modal.no-scroll 			{ -webkit-overflow-scrolling: none; overflow:hidden;
	main 							{ pointer-events: none ;touch-action: none; overflow:hidden}
	body 							{ pointer-events: none ;touch-action: none; }
	body #code-builds .modal.on 	{ pointer-events: all ; touch-action: auto;}
} */



//  text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased *
//  #code-builds .back 			{ @include kapla(-1); position: fixed; display:none }
//  .con-ext 						{ width:95%; max-width:$case-ext; margin:0 auto} 
//  @media #{$gl-con-min} 			{ .con,.gut-x{ padding-left:($gl-gut/2); padding-right:($gl-gut/2) } }  
//  @media #{$gl-con} 				{ .con,.gut-x{ padding-left:30px; padding-right:30px } } 