:root 								{


}


/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
 @ temel layout olcu etikleri */


body 								{ font: 300 14px 'Poppins'; -webkit-text-size-adjust: 100%;  text-size-adjust: 100% }
html,body 							{ min-height:100%; width:100% }
body::-webkit-scrollbar 			{ display: none}
body 								{ overflow-x: hidden ; display:flex; flex-direction:column;min-height:100vh; transition: opacity .3s; opacity: 1 ; /*min-width:1024px; min-height:768px*/ }
body > main 						{ flex:1; z-index:2; }
html.query 							{ pointer-events: none; background:url('img/load/spin.gif') no-repeat center center;
	body							{ opacity: 0 }
}


/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -
 @ temel layout olcu etikleri */

.con  								{ width:100%; max-width:$case-max; padding-left: $gl-gut;  padding-right: $gl-gut ; margin-left:auto; margin-right:auto; 
	&.np 							{ padding-left:0; padding-right:0 }
	&.row 							{
		
		//&:not(.nsc) 				{ padding-left:0; padding-right:0 }
	}
}

.e  								{ padding-left: $gl-gut;  padding-right: $gl-gut  }



// @media #{$gl-con-min} 			{ .con,.gut-x{ padding-left:($gl-gut/2); padding-right:($gl-gut/2) } }  
// @media #{$gl-con} 				{ .con,.gut-x{ padding-left:30px; padding-right:30px } } 


