
/* -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - 
@ Modal > Format > Snack  */

.modal.format-snack 				{
	
	> .visible-sm .modal-close		{ display:none}
	
	.modal-content 		 			{ height:90%; background-color:#faf7f4; max-width:740px; width:90%; overflow:hidden;
		> .data 					{ height:100% }		
	}	
	
	.modal-body 					{ height:100%; width:100%; overflow:hidden; overflow-y:auto;-webkit-overflow-scrolling: touch; overflow-scrolling: touch;-os-overflow-scrolling: touch  }
	
	.snack-us 						{
		img 						{ width:100%;}
	}
	
	.snack-as 						{ padding:1.5rem}
	
	.t-1 							{
		.a 							{ max-width:160px; margin-right:1rem; img { width:100% } }
		.b 							{ text-align:justify }
	}
	
	.t-2 							{
		h3 							{ font-weight:700; margin-bottom:4px; color:#837a71;  font-size:15px}
		p 							{ font-size:15px; line-height:24px }
	}
	
	.t-3 							{
		table 						{ width:100%; color:black; font-size:14px;
			thead tr th 			{ font:700 12px Arial;  height:50px
				
			}
			thead tr th:nth-child(2){ width:86px }
			thead tr th:nth-child(3){ width:120px } 
			tbody 					{ background:#e1e9e1;
				tr					{ height:34px;
				 	td:nth-child(1) { padding-left:10px; }
				}
				tr:nth-child(2n+0) 	{ background:#b4cfbf;  }
			}
			tr > *					{
				&:nth-child(3),
				&:nth-child(2) 		{ text-align:center}
			}
		}
		small 						{ text-align:right; padding:6px 0; display:block }
	}
	.t-4 							{ border-top:1px solid #ddd; margin-top:16px; padding-top:16px ;
		.a 							{ font-weight:700; font-size:19px; color:$color-02 }
		.b .col 					{ min-width:170px; max-width:170px}
	}
}
