
/*
@ lim scroll */

.slim-scr 									{

	&::-webkit-scrollbar  		       		{ width:6px;  background: white  }
	&::-webkit-scrollbar-track   			{ background: transparent;    }
	&::-webkit-scrollbar-track   			{ background: transparent;    }
	&::-webkit-scrollbar-thumb  			{ background: rgba(0,0,0,0); border:0;border-radius: 6px; }
	&:hover::-webkit-scrollbar-thumb   		{ background: rgba(0,0,0,.08); }
}


/*
@ hidden scroll */

.hide-scr::-webkit-scrollbar 				{ display: none}
.scr-y 										{ height: 100%; overflow-y:scroll; overflow-x:hidden }				
