.modal.f-prms							{ 
	
	//&.f-cok .tek 						{ display: none }
	//&.f-tek .cok 						{ display: none }

	.modal-head 						{ border-bottom:1px solid #e2e2e2; height:50px; 
		.a,.c 							{ height:100% ; > * { height:100% } }
		.b 								{ font-weight: bold ; text-align: center }
		
	}

	.modal-content 						{  background:#fff; max-width:510px; max-height:435px; height:90%; border-radius:14px }
	
	.modal-body 						{ padding: 24px 0; 
		
		.step 							{ padding: 0 16px }
		
		p 								{ color:#444; font: 300 13px 'Ubuntu'; line-height: 18px  }
		
		.step.two .us 					{  
			h4 							{ padding-bottom: 2px; font-weight:400; color: #f15a1f;}
			h3 							{ font-size: 18px; line-height: 28px;}
		}
		//
		/*
		.f-bordro 						{ font: 300 12px 'Ubuntu'; color:#444; right:3px;
			b 							{ font-weight:300; font-size:12px; letter-spacing:.5px; color:black; margin-right:10px }
		} 
		*/
	}

	
	/*
	.form 								{
		li 								{
		 	input,select 				{ border: 0 ; background: white; height: 100%; font: 300 16px 'Gotham'; padding-left: 38px }
		}
		ul 								{ background:white; border: 1px solid #e8e7e7; border-radius: 10px; overflow: hidden;
			li 							{ height: 65px }
		}
		
		.fe .fi 						{ width: 50px }
		.f-bank .icon i 				{ font-size: 15px; color: #f5af2d; }
		.f-date 						{ border-top: 1px solid #e8e7e7; 
			i 							{ font-size: 20px; color: #888; top: 1.5px }
		}
		.f-date input 					{ padding-left: 37px; width: 98% }
		.dropdown 						{ width: 35px }
	}
	*/
	 
	
	

	
	nav 								{ 
		input 							{ min-width: 120px; border-radius:4px; height:46px; padding:2px 16px 0 15px; font:300 14px 'Gotham'; margin-left:10px;
			&:first-child 				{ margin-left: 0 }
		}	
		.e-transfer						{ font:500 13px 'Ubuntu';
			i 							{ top:1px; font-size:11px }
		}
	}

}