.modal.f-dekont							{ font-family:Gotham;
	
		
	.modal-content 						{ height:430px; max-width:530px }

	.f-txt 								{ display: none  }

	
	
	
	//&.of .modal-content 				{ transition:.7s; transform: translate(0, 170% )  }
	

	.modal-head 						{ 
		button 							{ height:100%; padding:0 12px; font:600 14px 'Source Sans Pro' }
	}	

	.buton 								{
		.b  							{ width:160px;  height:130px; border:1px dashed #ddd; border-radius:8px; display:flex; align-items:center; justify-content:center;
			input 						{ width:100%; height:100%; opacity:0; position:absolute; z-index:1 }
			i 							{ color:$color-1; font-size:34px; top:-5px }
			span 						{ position: absolute; width:100%; pletter-spacing:.8px; font:300 11px 'Brandon'; text-align:center; bottom:14px; }
		}
	}

	.e-note 							{ display:block; text-align:center; font-weight:400; font-size:12px }
	
	.mb-one 							{ padding-top: 18px; font-size:13px; text-align:justify; line-height:19px;
		b 								{ font-weight: 600 }
		span 							{ color: $color-3  }
	}
	
	.e-note .on 						{ visibility:hidden; display:block; animation-duration: .3s; animation-name: zoomOut; color:#555;
		i 								{ display:block; color:#80ae30;    top: 4px; font-size: 26px; margin: 0; }
	}
	
	  
	.e-remove 							{ left:150x; bottom:16px; visibility: hidden; opacity:0;  transition:.3s;
		i 								{ color:#c3c3c3; margin-right:5px; font-size:10px;}
		span 							{ font-size:12px; color:#cecdcd; font-weight:700 }
	}

	&.t-add 							{
		
		
		.e-note .on 					{ visibility:visible;  animation-name: zoomIn; }
		
		.e-remove 						{ left:16px; opacity:1;  visibility:visible }
		.e-remove i						{ color:#b2b2b2  }
		.e-remove span					{ color:#f26b6b  }
	}

}