.modal.f-5							{ 
	
	//&.f-cok .tek 						{ display: none }
	//&.f-tek .cok 						{ display: none }

	.modal-head 						{ border-bottom:1px solid #e2e2e2; height:50px; 
		.a,.c 							{ height:100% ; > * { height:100% } }
		.b 								{ font-weight: bold ; text-align: center }
	}

	


	.modal-content 						{  background:#fff; max-width:560px; max-height:540px; height:90%; border-radius:14px }
	
	.modal-body 						{ padding: 0; 
		
		.step 							{ padding: 20px 16px }
		
		p 								{ color:#444; font: 300 13px 'Ubuntu'; line-height: 18px  }
		
		.step.two .us 					{  
			h4 							{ padding-bottom: 2px; font-weight:400; color: #f15a1f;}
			h3 							{ font-size: 18px; line-height: 28px;}
		}


		.step.fit 						{ padding:0;
			.us 						{  text-align: left;  position:sticky; top:0; z-index:1  }
		}
		
		/*
		.f-bordro 						{ font: 300 12px 'Ubuntu'; color:#444; right:3px;
			b 							{ font-weight:300; font-size:12px; letter-spacing:.5px; color:black; margin-right:10px }
		}
		*/
	}

	.urn  								{
		
		ul li 							{ border-bottom:1px solid #e2e2e2; height:62px; @include flex_bwyc(); 
			&.hide 						{ display:none!important }
			&:last-child 				{ border-bottom: 0 }
			> div:nth-child(1) 			{ padding:0 16px; 
				b						{ font-size: 10.5px; font-family: ubuntu; letter-spacing: .5px; color: #999; font-weight: 400;}
				p b 					{ text-transform:uppercase; margin-left:5px;
					i 					{ top: .5px; margin-right: 3px; font-size: 8px;}
				}
			}
			> div:nth-child(2) 			{ height:100%;
				> a 					{ color:#bcbcbc; font-size:13px; letter-spacing: .5px; font-family:ubuntu;  height:100%;  @include flex_yc(); padding:0 14px;
					i 					{ color: #e68a1e; font-size: 13px; top: 3px; margin-left: 5px; }
				}
			}

			&.on div > a,
			&:not(.on) div div 			{ display: none}
			div div			 			{ display:flex; height:100%;  align-items:center; justify-content:flex-end; padding:0 12px 0 0;
				input 					{ width:28px;  text-align:center;  border:0; border-right:1px solid #edecec; background:#fdfafa; border-radius:4px 0 0 4px; color:#e58c19 }
				> button 				{ width:32px; @include flex_mc(); height:100%;   margin-right:15px;  background:none; 
					i 					{ color:#a4a7a8; font-size:13px; top:2px }
				}

				> span 					{ border:1px solid #edecec; display:flex; border-radius:4px; margin-right: 15px; height:30px;
					span 				{ width:60px }
					span i 				{ font-size: 8px; top: 11px;right: 6px;color: #74abde;}
					select 				{ text-align:center;width:100%; height:100%;  border:0; text-indent:9px; font-size:12px; background:none }
				}
			}
			nav button span 			{ width:30px }

			&.car 						{
				div > button i 			{ color:#0a9fe5 }
			}
		}
	}


	/*
	.form 								{
		li 								{
		 	input,select 				{ border: 0 ; background: white; height: 100%; font: 300 16px 'Gotham'; padding-left: 38px }
		}
		ul 								{ background:white; border: 1px solid #e8e7e7; border-radius: 10px; overflow: hidden;
			li 							{ height: 65px }
		}
		
		.fe .fi 						{ width: 50px }
		.f-bank .icon i 				{ font-size: 15px; color: #f5af2d; }
		.f-date 						{ border-top: 1px solid #e8e7e7; 
			i 							{ font-size: 20px; color: #888; top: 1.5px }
		}
		.f-date input 					{ padding-left: 37px; width: 98% }
		.dropdown 						{ width: 35px }
	}
	*/
	 
	
	

	
	nav 								{ 
		input 							{ min-width: 120px; border-radius:4px; height:46px; padding:2px 16px 0 15px; font:300 14px 'Gotham'; margin-left:10px;
			&:first-child 				{ margin-left: 0 }
		}	
		.e-transfer						{ font:500 13px 'Ubuntu';
			i 							{ top:1px; font-size:11px }
		}
	}

}