.modal.f-urun 							{
	
	.modal-body 						{ border-radius:8px }

	&.blur .modal-content .data 		{ filter:blur(3px) }
	
	&.on-start 							{ visibility:visible; 
		
		&[efek='1']						{ 
			.modal-back 				{ background: rgba(0,0,0,.65)  }
		}
	}

	
	.m-top 								{ position:absolute; height:30px;  top:-60px;  left:0; width:100%; color:white ;
		h3  							{ text-align:center; font:300 16px Brandon; letter-spacing:.5px }
		.cari-link 						{ color:white; top:5px; font-size:15px;
			i.sag 						{ font:500 18px 'Gotham Rounded'; top:2px }
			i.sol 						{ color:#f6dd77; margin-right:8px; font-size:12px}
		}

	}

	.modal-content 						{ max-width:920px; overflow:visible; max-height:580px; width:90%; height:90%;  background:white; border-radius:8px;
		.in 							{ height:100%;}
		.in > .col 						{ background:#fbfbfb; padding:22px; border-left:1px solid #e7e7e7; z-index: 1; overflow:hidden; border-radius:0 8px 8px 0; }
		.in > .sol 						{ padding:10px 12px; width:30%; min-width:243px; max-width:285px;z-index: 0; border-radius: 8px 0 0 0; overflow: hidden; }
	}
	
	.u-olcu 							{ border-top:1px solid #f1f0f0; font-size:13px; padding:20px 0 1px 0 ;
		li 								{ margin-bottom: 10px; &:not(.hide){display:flex;} }

		b 								{ font-weight:400}
		i 								{ color:#ef7b7b; width:18px; margin-right:4px;  
			&.ss-forklift 				{ font-size:13px; top:.5px; }
			&.ss-box 					{ font-size:11px; top:2.5px; }
			&.ss-crop 					{ font-size:12px; top:2px; }
		}
	}

	.u-foto 							{ z-index: 1; overflow:hidden}

	/*
	.slide 								{ height:261px }
	.slide .list, .slide a 				{ height:100%  }
	.u-foto img 						{ width:auto; height:100% }
	*/
	
	.u-bant 							{ z-index: 5;
		.bant							{ background-repeat:no-repeat; background-position:0 0; left:-12px; top:-12px; background-size:100% auto; position: absolute;  display:none; font-size:80px;  height:1em; width:1em; z-index: 1;  }
		.t-idm 							{ background-image:url('img/kusak-idm.png') }
		.t-fyt 							{ background-image:url('img/kusak-fyt.png') }
		.t-iade 						{ background-image:url('img/kusak-iade.png') }
		.t-oneri 						{ background-image:url('img/kusak-oneri-n.png'); font-size:90px }
	}

	&.on-basket .u-bant .t-oneri 		{ background-image:url('img/kusak-oneri-y.png')  }
	
	&:not(.oneri) .ut-rst,
	&:not(.on-basket) .ut-rst 			{ display: none  }

	&.idm:not([idm='COF']) .u-bant .t-idm,
	&[idm='COF'] .u-bant .t-fyt,
	&.oneri .u-bant .t-oneri,
	&.iade  .u-bant .t-iade, 
										 { display: block }

	.u-idm 								{ font-size:13px; color:#444; display:none;
		
		li 								{ @include flex_yc(); margin-bottom:5px }
		.idm-label 						{ i { color:#579a21; font-size:11px; top:3px; right:2px } }
		.idm-cdown 						{ i { color:#fcb816; font-size:11px; top:2px } }
	}

	.price.val i 						{ display: none }


	
	.u-title 							{ margin-bottom:30px;
		
		h2 								{ font-weight:400; margin-right:12px; font-size:17px ; margin-bottom:2px}
		
		div 							{ @include flex_yc();
			> span 						{ font: 300 13px 'Ubuntu'; color:#8a8a8a; top:2px;
				i 						{ font-size: 11px; margin-right: 4px; top: 1px; color: #6dc58d; }
				span 					{ text-transform: uppercase }
			}
		}

		.price							{ font-size:15px;  }
		.price.val 						{ font-weight:600; color:#e74646; }
		.price .el-kur 					{ margin-right:3px }
		.price b						{ font-weight:600 }
		
		.price.val i					{ color:#579a21; font-size: 11px; margin-left: 4px  }
		
		.price.idm 						{ display:none; margin-left:13px; font-weight:600; }
		.price.idm .a					{ color:#f99898; text-decoration:line-through   }
		.price.idm .b					{ color:#555; font-size:10px; font-family:'Gotham'; font-weight:300; top:-2px; letter-spacing:.5px;margin-left:3px }
		.price.val .pv-iade 			{ font-size: 11px; display:none ; font-weight:400; color: #777;top: -2px;margin-left: 9px;letter-spacing: .3px;}
		.price.idm .b span				{ display: none }
	}

	.u-kunye 							{ font: 400 13px 'Source Sans Pro';
		li 								{ display: flex; 
			label 						{ width: 108px; font-weight: 600; color:#444 }
			span 						{ color:#555; padding-left:18px }
			span b 						{ font-weight: 400 }
			span em 					{ color:#888; font-size:12px; padding: 0 3px; top:-1px  }
			span i 						{ font-size: 13px; position: absolute; color:#a2a1a1; left:-10px }
			.ss-creditcard 				{ font-size: 16px }
			.ss-barchart 				{  }
		}

		.for span						{ 
			//&::-webkit-scrollbar 		{ display: none }
			ol 							{ display:flex; font:normal 11px Ubuntu; top:3px; 
				
				li 						{ letter-spacing: -.3px; display:flex; /*flex: 1 1 0%; */ 
					&:first-child 		{ padding-left:0 ; b { padding-left:0 ; color:#20ad4c } }
				}
				span 					{ padding:0 0 0 4px; color:#8e8e8e; }
				b 						{ color:#555;letter-spacing: -.4px;  /* width:25px; */}
				u 						{ padding-left:1.5px}
				i 						{ margin:0 3px 0 1px; top:-1px; display:none }
				//s 					{ position:absolute; right:0; font-size:8px; top:2px; }
				s 						{ padding:0 6px; color:#d0d0d0; font-size:8px; top:2px; }
			}
		}
	}

	nav.count button span, nav.select button span{ width:34px}
	
	

	.fe 								{
		summary 						{ position: absolute; left: 59px; width:260px;font-size: 11px; color: #333; font-family: 'Open Sans';top: 21px; z-index: 0;
			> span 						{ display:none ; animation-fill-mode: both; animation-duration: .5s;  }
			b 							{ font-weight:400}
			u,s 						{ font-style:normal; text-decoration: none}
			.el-carpan 					{ 
				s:nth-child(1) 			{ margin:0 5px }
				u:nth-child(3) 			{ margin-left:2px }
				s:nth-child(4) 			{ margin: 0 3px; font-size:9px; top:-1px; }
				s:nth-child(6) 			{ margin: 0 2px  }
				b:nth-child(7) 			{ margin-right: 3px  }
			}
		}
	}

	.u-list 							{ font: 400 14px 'Source Sans Pro';  padding-top:50px;
		
		li 								{ height:60px;  align-items:center; }
		li 								{
			&:not(.n) 					{ border-top:1px solid #e7e7e7 }
		}
		.line 							{ border-bottom:1px solid #e7e7e7 }

		&.f2 							{
			.line 						{ padding:0 2px }
			.val,input, select 			{ font-size:14px }
			input 						{ padding-top:0px }
		}

		li.locked 						{
			div.nav nav					{ opacity: .4; pointer-events: none;}
			//.on-price 					{ display: none }
		}
		
		.field-ripple 					{ @include circle(48px);  position: absolute; z-index:0;left:0px; top:7px }
		.f-fiyat .field-ripple 			{ left:-2px  }
		.f-birim .field-ripple 			{ left:-9px  }
		.f-adet .field-ripple 			{ left:-19px }
			
		> li 							{ 
			.field-ripple 				{ background: #fbfbfb radial-gradient(circle, transparent 1%,#fbfbfb 1%) center/15000%; background-position: center;transition: background 0.6s;}
			&:active .field-ripple  	{ background-color: #ccf0ff; background-size: 100%; transition: background 0s }

		}

		label 							{ font-weight:600; z-index:1; width:114px; color:#111 }
		label i 						{ position: absolute; right:0; font-weight:400;top:-1px }
		input							{ padding-top:4px }
		input,select 					{ border:0; width:100%;z-index:1;	 background:none }
		input,select,.val 				{ font:300 15px 'Gotham'; color:black }
		li > *{}
		li > .col  						{ padding-left: 13px; height:100%; }


		.f-fiyat .fe .fi 				{ color:#000; top:1px; font-size: 15px; font-family: 'Ubuntu' }
		.f-fiyat .fe input 				{ text-indent:13px;  }
		.f-fiyat .count 				{ margin-left:25px }
		.f-fiyat a.uf-1 				{ font-size:13px }



		.f-birim .fi-down 				{ background:none;
			i 							{ color:#111 }
		}
		
		.fe select 						{ z-index: 1 ; text-indent: 0 }
		
		.f-birim .fe 					{

			// &[val='2'] summary .s-2 	{ display:inline-block ; animation-name: zoomIn;  }
			// &[val='3'] summary .s-3 	{ display:inline-block ; animation-name: zoomIn;  }

			&[val='PK'] summary .s-2 	{ display: inline-block ; animation-name: zoomIn;  }
			&[val='KA'] summary .s-3 	{ display: inline-block ; animation-name: zoomIn;  }
			&[val='PL'] summary .s-4 	{ display: inline-block ; animation-name: zoomIn;  }
			&[val='YP'] summary .s-5 	{ display: inline-block ; animation-name: zoomIn;  }
			
		}

		.f-adet 						{
			input  						{ z-index:1 }
			// summary 					{ position: absolute; left: 59px; width:260px;font-size: 11px; color: #333; font-family: 'Open Sans';top: 21px; z-index: 0;
			// 	> span 					{ animation-fill-mode: both; animation-duration: .5s;
					
			// 	}
			// }
			.net em 					{ padding:0 3px;}
			.net .nv 					{ font-weight: 400 }
			.net .nt 					{ padding-left:3px; text-transform: uppercase }
			//span.urn.on 				{ display: inline-block ; animation-name: zoomIn  }
		}

		

		.f-tutar 						{ 
			.price 						{
				> span:first-child 		{ color:#e74646; font-weight:400; margin-right:2px  }
				> span:last-child 		{ color:#555; padding-left:7px }
				b 						{ color:#e74646; font-weight:400  }	
			}
		}

	}
	
	#mu-50 								{ display: none }
	#mu-50 .net em 						{ display: none;  }

	&:not([birim='ST']) #mu-50,
	&:not([adet='1']) #mu-50 			{ display: inline-block ; animation-name: zoomIn }
	
	&[adet='1']:not([birim='ST']),
	&[birim='ST']  						{ #mu-50 .urn { display: none } }

	&:not([birim='ST']) 				{ #mu-50 .net em { display: inline } }

	&[adet='1']:not([birim='ST']) 		{ #mu-50 .net em { display: none } }
	
	&[birim='YP'] .fe summary 			{ left: 70px }	

	&.idm  								{
		
		.u-idm 							{ display: block }
		
		&:not(.zam) .price.val i 		{ display: inline }
		&:not(.zam) .price.idm 			{ display: inline }
		
	
		&[idm='CFI'] 					{
			.price.idm .b span			{ display: inline }
		}
	}


	&.iade  							{
		
		//.modal-content 				{ max-height:640px }
		
		/*
		
		.u-list 						{

			.f-fiyat div.nav 			{ opacity: .4; pointer-events: none }
			.f-fiyat div.nav .on-price	{ display: none   }
		}
		*/
	}


	.ff-iade 							{ display: none }
	//.b-add.iade 						{ display: none }

	&:not(.iade) .on-iade,
	&.iade .of-iade 					{ display: none }
	
	&.iade 								{

		.price.val .pv-iade 			{ display: inline }
		.ff-iade 						{ display: inline }
		.ff-satis 						{ display: none }
		

		//.b-add:not(.iade) 			{ display: none }
		//.b-add.iade 					{ display: flex }
		.u-send > span a				{ display: none }
	}

	.u-send 							{
		
		.uf-1 							{ font-weight:400; font-size:13px;
			i 							{ color:#4d4e4d; top:2px; margin-right:5px; }
		}

		nav input 						{ min-width: 120px; border-radius:4px; height:46px; padding:2px 16px 0 15px; font:300 14px 'Gotham'; margin-left:10px;
			&:first-child 				{ margin-left: 0 }
		}
		
		input.b-del 					{ display:none }
		input.b-edit 					{ display:none }
		input.b-cari 					{ display:none }
	}

	&.on-basket .u-send 				{

		input.b-off 					{ display:none  }
		input.b-add 					{ display:none }
		input.b-del 					{ display:block }
		input.b-edit 					{ display:block }
		
	}

	.f-birim 							{

		option em						{ font-size:12px }
	}
	
	.mb-order 							{ z-index: 0}

	.mb-1 								{ z-index: -1; width:100%; visible:hidden; border-radius:8px; overflow:hidden; position:absolute; left:0; top:0; height:100%; 
		
		> .in 							{ transition:.5s; transform:translate(100%,0); background:white;  }

		.mb-head 						{ background:#f5f5f5; height:50px; border-bottom:1px solid #dddbdb;  position: absolute; width:100%; z-index: 1; left:0; top:0;
			h3 							{ font:700 14px 'Brandon'; letter-spacing:1.2px; text-transform:uppercase }
			.one a 						{ padding:0 14px; font-size:13px }
			.one span 					{ font-weight:400 }
			.one i 						{ margin-right:7px; top:1px }
		}

		.mb-body 						{ z-index:0; padding-top:80px; }

	}

	.mb-iade 							{
		.in 							{ background:#fbfbfb }
		.mb-body 						{ padding:72px 22px 22px 22px; }
		.u-list 						{ padding-top: 0; height:calc(100% - 46px);
			label 						{ width:100px;}
			//.field-ripple 				{left: -7px; top: -18px }
		}
		
		.f-iade-not 					{ height: calc(100% - 60px); 
			.fe 						{ padding:28px 1px}
			textarea 					{ background: none ; height:100%; max-height:100%; min-height:100%; @include placeholder(#555);   padding:0; font: 300 15px Gotham;}
		}

		.line > .col  					{ padding-left:13px }

		nav.select button span 			{ width:30px ; height:28px;
			i 							{ color:#555 }
		}

	}


	.mb-price 							{ 
		

		.table-v 						{
			
			.td-4,.td-5 					{ width:120px }
			.td-4							{ margin-left:25px;	color:#777 }
			.td-3 							{ width:90px;  }
			.td-2 							{ width:120px }

			.r 								{ text-align:right}
			
			.td 							{ padding:0 12px }
			.tr 							{ padding: 0 12px 0 5px}
			
			.thead .tr-end					{ 
				
				.td 						{ font-size:12px; color:#555}
				.td b 						{ background:#f2f2f2; width:85%; display:flex; align-items:center;  justify-content:flex-end; border-radius:15px; height:30px; padding:0 12px 1px 12px }
			}

			.td 						{ padding: 0 9px }
			
			.tbody .tr 					{ border-bottom:1px solid #f3f3f3; font-size:13px; height:54px; display:flex; align-items:center; font-weight:300; 
				
				&:last-child 			{ border:0 }
				.check 					{ visibility: hidden  }
				&.on 					{ color:#317fe0; background:#fafdff; font-weight:600;
					.check 				{ visibility: visible; }
				}

				.td-1  					{ letter-spacing:.7px;
					.ss-clock 			{ color:#f2bd55; font-size:13px; top:2px; margin-right:6px  }
					.check 				{ margin-left:45px; font-size:12px; font-weight:600; color:#555; letter-spacing:.5px;
						i 				{ font-size:11px; color:#317fe0; top:1px }
					}
				}

				.tr-end	.td 			{ padding-right:20px}				

			}
		}	
	}

	&.on-price 							{
		.mb-price						{ visibility:visible; z-index: 1;
			> .in 						{ transform: translate(0,0) } 
		}	
		&.of-mb .mb-price > .in			{  transform: translate(100%,0) }	
	}

	&.on-iade 							{
		.mb-iade						{ visibility:visible; z-index: 1;
			> .in 						{ transform: translate(0,0) } 
		}	
		&.of-mb .mb-iade > .in			{  transform: translate(100%,0) }	
	}

	.m-end 								{ position:absolute; overflow:hidden; bottom:-35px;  left:0; width:100%; color:white ; color:white; 
		i.ss-help 						{ font-size: 18px; position: absolute; left: 0; top: -3px; color: #ffbd23; }
		p 								{ font-size:12px; letter-spacing:.5px; padding-left:26px; }
		.note > div 					{ animation-duration: 1s; animation-fill-mode: both}
		
	}

	&.on-price 							{ 
		.note-order 					{ display: none }
		.note-price > div 				{ animation-name: slideInLeft  }
	}

	&:not(.on-price) 					{ 
		.note-price						{ display: none }
		.note-order > div 				{ animation-name: slideInLeft  }
	}

	&.on 								{
		.note-order > div 				{ animation-name: slideInLeft  }	
	}	



	&[kur='CHF']  						{ 

		.el-kur  						{ font-family: 'Arial' }
		.u-list .f-fiyat .fe .icon 		{ font-size: 14px; top: 2px	}
		.u-list .f-tutar .price 		{ > span:first-child { font-weight: 700 } }
	}



	&[mod="read"] 						{
		.of-read 						{ display: none  }
		.on-read 						{ display: block!important }
		.of-read-point 					{ pointer-events:none }

		&.iade 							{
			.of-read-iade 				{ display: none }
		}

		&:not(.iade) 							{
			.on-read-iade 				{ display: none }
		}
	}

	&:not([mod="read"]) 				{
		
		.on-read-iade 					{ display: none }
		.on-read 						{ display: none }
	}


	&:not([buy="AD"]) 					{

		.f-adet .urn, 
		.f-adet .net em 				{ display: none!important }
	}


	// &['unit'='$'] .el-unit 			{}
	// &['unit'='€'] .el-unit 			{}

	/*
	.modal-content 	 					{ transition: max-height .5s, height .5s; }
	
	.modal-body .in 					{
		.slide 							{ transition: height .5s;   }
		> .sol 							{ transition: .5s; }
		> .col 							{ transition: .5s; }
	}

	&.on-foto .modal-body .in 			{
		 
		.sol 							{ width:100% ;height:100%;}
		.u-foto 						{ margin-bottom:0; height:100%;   }
		.slide 							{ height:100%; }
		.slide a						{ @include flex_mc(); height:100%; }
		.sol > :not(.u-foto)			{ display: none }
		.col  							{ transform: translate(100%, 0) }
	}


	&.on-foto .modal-content 			{ max-height:1024px; height:96% }
	*/


}

html[mod='4'] .modal.f-urun				{

	.u-kunye 							{
		.col-7 label 					{ width:86px }
	}

}


@media #{$gl-xs-min  } 					{
	
	.modal.f-urun 						{
		.mob,.m							{ display: none }
	}
}

@media screen and (max-width: 920px) 	{
	
	.modal.f-urun 						{
		.u-olcu 						{ font-size: 12px }
	}
}

@media #{$gl-sm} 						{

	.modal.f-urun 						{
		
		

		.modal-back 					{ padding:0 }
		
		.modal-content  				{ overflow: hidden; max-height: unset; height:90%; width:90%; max-height:782px; max-width:600px;
			.in 						{ height: unset; min-height:100%  }
			.in > .sol  				{ width: unset; padding:0; min-width:unset; max-width:unset;  }
			.in > .col  				{ border-left:0; border-radius:0 0 8px 8px ;  border-top: 1px solid #efefef }
			.u-foto .list				{ width: 230px ; height:230px; margin: 0 auto}
		}
		
		&.idm .u-foto 					{ padding-bottom:5px; }
		.u-foto i						{ color: #b7b7b7; top: 10px; right: 10px }
		
		.u-list 						{ padding-top:25px;
			li input					{ min-width:80px; width:100%;}	
		}
		
		

		.u-send .uf-1 					{ font:500 11px 'Ubuntu' }

		.u-send nav input  				{ min-width:110px }

		.u-info 						{ z-index:1; font:400 10px 'Ubuntu'; color:#555; position:absolute; left:0; bottom:7px; width:100%;  padding:0 18px; @include flex_yc();
			.el-id 						{ letter-spacing:.5px }
		}

		&.idm .u-idm 					{ font-size:inherit; padding:0; @include flex_yc();
			i 							{ order:-1 }
			em 							{ padding:0 4px }
			li 							{ margin-bottom: 0 }
			.idm-cdown i 				{ font-size:9px; margin-right:3px;}
			.idm-label i 				{ display: none }
			 		
		}


		
		

		.u-bant .bant 					{ left:0; top:0; font-size:68px }
		
		.dots 							{ bottom:13px; right:14px}
		
		.u-title h2 					{ font-size:16px }
		
		.u-title 						{
			.price 						{ font-size:14px }
			.price.idm .b  				{ font-size:9px  }
			div > span 					{ font-size:12px; top:0px;
				i 						{ font-size: 9px}
			}
		}
	}
}



@media #{$gl-xs} 						{
	
	.modal.f-urun 						{ margin-bottom:0;
		.web,.w 						{ display: none }
		


		.modal-content 					{ border-radius:0px; width:100%; height:100%;  max-height: unset; max-width: unset;
			.u-foto .list				{  margin: 0 auto}
			.u-foto .list				{ 
				--s : calc(( var(--app-body) + 112px) - 460px); 
				width: var(--s);
				height:  var(--s);
			}

			.in > .col  				{ padding:18px 15px }
			.u-list 					{
				.f-fiyat .count  		{ margin-left: 0 }
				.f-fiyat a.uf-1 		{ position: absolute; right:0; top:-40px;
					.mob 				{ font:500 11px 'Ubuntu'}
				}
			}
		}

		.fe 								{
			summary 						{ left:40px; top:24px; font-family: Ubuntu;font-size:9.5px;
				.el-carpan 					{ 
					s:nth-child(1) 			{ display: none }
					s:nth-child(4) 			{ margin: 0 2px }
					b:nth-child(7) 			{ margin-right:2px  }
				}
			}

			&[val='PK'] summary				{ left: 48px }
		}

		.u-list 						{ padding-top:24px;
			
			.f-fiyat 					{ border-top: 0 }
			
			label 						{ width:78px; font-size:13px }
			input,select,.val 			{ font-size:14px}
		}
	}
}



body:not(.market) .modal.f-urun 		{
	
	.m-top,.m-end 						{ display: none }
}


html[cari='not'],	
html[cari='tum']						{ 

	.modal.f-urun .u-send 				{ 
		
		input.b-cari  					{ display: block }
		input:not(.b-cari) 				{ display: none  }
	}

	.modal.f-urun  						{ 
		
		//.note-order   					{ display: block }
	}

}
