[tt]::before,
[tt]::after {
    text-transform: none;
    font-size: 10px;
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0
}

[tt]::before {
    content: '';
    border: 5px solid transparent;
    z-index: 1000
}

[tt]::after:hover{
    
    color: #fff;
}

[tt]::after {
    content: attr(tt);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    font-size: 12px;
    vertical-align: super;
    //letter-spacing: 1px;
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .8em;
    border-radius: 3px;
    //box-shadow: 0 1em 2em -.6em rgba(0, 0, 0, 0.35);
    background: rgba(0, 0, 0, .9);
    color: #fff;
    z-index: 1000;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

[tt]:hover::before,
[tt]:hover::after {
    display: block
}

[ntt='']::before,
[ntt='']::after {
    display: none!important
}

[tt]:not([flow])::before,
[tt][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: rgba(0, 0, 0, .85);
    margin-bottom: 5px
}

[tt]:not([flow])::after,
[tt][flow^="up"]::after {
    bottom: calc(100% + 10px)
}

[tt]:not([flow])::before,
[tt]:not([flow])::after,
[tt][flow^="up"]::before,
[tt][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.6em)
}

[tt][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: rgba(0, 0, 0, .9);
    margin-top: 5px
}

[tt][flow^="down"]::after {
    top: calc(100% + 10px)
}

[tt][flow^="down"]::before,
[tt][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .6em)
}

[tt][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: rgba(0, 0, 0, .9);
    left: calc(0em - 10px);
    transform: translate(-.6em, -50%)
}

[tt][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 10px);
    transform: translate(-.6em, -50%)
}

[tt][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: rgba(0, 0, 0, .9);
    right: calc(0em - 10px);
    transform: translate(.6em, -50%)
}

[tt][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 10px);
    transform: translate(.6em, -50%)
}

@keyframes ntts-vert {
    to {
        opacity: .9;
        transform: translate(-50%, 0)
    }
}

@keyframes ntts-horz {
    to {
        opacity: .9;
        transform: translate(0, -50%)
    }
}

[tt]:not([flow]):hover::before,
[tt]:not([flow]):hover::after,
[tt][flow^="up"]:hover::before,
[tt][flow^="up"]:hover::after,
[tt][flow^="down"]:hover::before,
[tt][flow^="down"]:hover::after {
    animation: ntts-vert 400ms ease-out forwards
}

[tt][flow^="left"]:hover::before,
[tt][flow^="left"]:hover::after,
[tt][flow^="right"]:hover::before,
[tt][flow^="right"]:hover::after {
    animation: ntts-horz 400ms ease-out forwards
}