.cari 							{
	

	.nav-info 					{ text-align:center; margin:-25px auto 13px auto; line-height:23px; display:block; 

	}

	.con-us						{ 
		
		.a,.b 					{ font-size: 15px }
		.c .tur 				{ color:#222; font-weight:400;
			i 					{ color:#1cccf2; font-size:14px; margin-left:5px; top:2px };
		}
	}

	

	&.list table.f 				{ font-size:12px;
		
		.t-ban 					{ font-size:10px; color:#777; 
			i 					{ color:#d43e3e; font-size:14px; top:3px; margin-left:5px }
		}

		.t-msj 					{ font-size:9.5px; font-weight:400; color: #000; /* letter-spacing: -.9px; */
			> i 				{ color:#e7c318; font-size: 14px; top:4px; margin-left:5px }
			.ss-notifications 	{ font-size:12px; top:2px }
			span 				{ color:#999; em { padding:0 4px } }
			span i				{ font-size:8px; top:1px; margin:0 3px  }
			&.m-0 > i 			{ color:#e7c318;}
			&.m-1 > i 			{ color:#f98118 }
			&.m-2 > i 			{ color:red; }
		}

		.t-sec 					{ border:1px solid #888; background:#888;  color:white; border-radius:13px;  @include flex_mc(); height:24px; width:40px; text-transform:uppercase; font:300 12px Gotham Narrow; letter-spacing:.5px; padding:0 12px;
			i 					{ display:none; top:1px; font-size:11px }
			&.on 				{ background:#60ab1e; border-color:#60ab1e; color:white;
				span 			{ display: none }
				i 				{ display: block }
			}
			span 				{ top:1px }
		}

		.td-durum 				{ font-size:11px; font-weight:600;
			i 					{ margin-left: 4px }
			.icon-check  		{ color: #64ae37; top:1px; font-size:10px }
			.ss-clockwise 		{ color: orange; top:2px }
		}

		.td-sepa 				{ 
			i 					{ font-size:15px}
			i.on  				{ color:#48c509 }
			i.of  				{ color:#e48282 }
		}

		.th-durum 				{ color:#777; font-size:12px; top:2px; }
		
		.td-name 				{
			> .txt 				{ display: inline-block; top:2px}
			> .btn 				{ top:0; height:100% }
		}
		//.t-val 					{ display:flex; }
		//.t-snc 					{ background: none; margin-left:10px; }
		
	
		.t-tur,
		.t-snc 					{ height: 100%; width: 35px; top:0; @include flex_mc(); background:none; right:0; font-size:17px; color:$color-1;
			i 					{ top: 1px }
			
		}

		.t-tur  				{ font-size: 13px; width:auto; cursor:pointer; z-index:2;
			.a					{ margin-right: 6px; }
			.b					{ font-size:11px }
			.c					{ font-size:15px }
			&.on 				{ color:#999; cursor:default;}
			&[rel='1'] i 		{ color:#7cb17b}
			&[rel='2'] i 		{ color:#e05f64}
			&[rel='3'] i 		{ color:#f7bb60}
			 //position:absolute;left:35px; 
			span 				{ cursor:pointer;  color:#999; height: 100%; display: flex; align-items: center; letter-spacing: .1px; font:300 11px 'Ubuntu'; white-space: pre; opacity:1; transition:.3s; padding-left:7px; }
			> i 				{ cursor:pointer;  z-index: 1 }
			
			> s 				{ cursor:pointer;
				width: 1em;
			    height: 1em;
			    background: #f1f1f1;
			    
			    border-radius: 1em;
			    position: absolute;
			    left: 50%;
			    top: 50%;
			    /* content: "."; */
			    border: 0;
			    z-index: 0; 
			    font-size: 0px;
			    
			    
			    transition:.3s;
			    transform: translate(-50%, -50%);
			}

			&:hover > s			{	
				
				font-size:34px
			}

			//&:hover span 		{ display: none }

		}

		tr:not(.on) .t-snc 		{ display: none }

		//.td-id 					{ padding-left:30px}
		//.icon-check 			{ color:#1cccf2; &.on { color:#64ae37 } }


		.iskey tr:not(.onkey) 	{ display: none }
		
	}


	.f-kunye  					{ overflow: hidden;
		.it 					{ font-size:13px; letter-spacing:.3px;}
		.it li 					{  display:flex; align-items:center; justify-content:space-between; padding:10px 14px; }
		.it li:nth-child(2n+1) 	{ border-bottom:0;background:#f3f3f3;  }
		h5 						{ font-weight:400;color:#2d2d2d;  font-size:inherit}
		.it li > span 			{ font-weight:300}
		.min  					{ font-size:11px; color:#999; margin-right:10px; top:-1px }
		.head 					{ background:#fff; border: 1px solid #eaeaea; border-bottom:0; padding:18px 14px 28px 14px; border-radius:12px 12px 0 0; min-height:100px;
			h2  				{ margin-bottom:5px; color:#222;
			  font-size:13px }
			address 			{ line-height:18px; color:#5d5d5d;letter-spacing:.5px;
				.prt  			{ top: -37px; font-size: 23px;color: #4182eb;width: 44px;height: 44px;display: flex;align-items: center;justify-content: center;right: -14px;
					i 			{ top:3px; left:2px;}
				}
			}
			.sub li 			{ margin-right:22px; color:#5d5d5d;
				a 				{ color:#333;}
			}
			.sub i  			{ position:absolute; left:0;}
			.sub li a 			{ padding-left:18px}
			.sub i  			{ font-size: 12px;  color: #e8ab3a;}
			.sub .c i  			{ top:1.5px; ;}
			.sub .m i   		{ top:1px}
			
		}
		.it						{  background:#fbfbfb;  border: 1px solid #eaeaea; border-top:0; border-radius: 0 0 12px 12px ; }

	}


}

@media #{$gl-sm} 					{
	
	.cari							{							
		table.f						{ 
			--t4: 120px!important;	
			--t3: unset!important;
		}
	}
}

@media #{$gl-xs} 					{
	.cari							{							
		table.f						{ font-size: 12px;
			
		}
		.tab.t-hafta 				{
			> ol > li .t 			{ padding:0 16px; font-size:12px;
				s 			{ display: none }
			}
		}
	}
}






