.dt-customer 							{
	//.f-td a 							{ display: flex }
	
	figure.ico 							{ background:#d0d0d0; color:white;  width:42px; height:42px; border-radius:3px;
		a 								{ color: white  }
		&.store 						{ @include flex_mc();
			i.icon-store 				{ font-size:25px}
		}
	}
	
	> li 									{
		
		
	
		//.td-3 nav 						{ visibility: hidden;animation-name:fadeOut;  padding-right: 50px ; animation-duration: 1s; animation-fill-mode: both; }
		//.td-3 nav 						{ padding-right:50px }
		//&:hover .td-3 nav 				{ visibility: visible ; animation-name:fadeIn; }
	}


	&.t-1 								{
		.td-1 							{ @include colsize(64px) }	
	}


	.td-2 h4 							{ margin-bottom: 6px }	
	
	> li .head  						{ color:#929292 }
	

	.td-2 .as 							{ font-size:12px; display:flex;flex-wrap: wrap;
		
		> span 							{ margin-right: 12px;   } 
		//> span:last-child 			{ margin-right: 0 	   }
		a 								{ padding-left:18px;   }
		
		i 								{ position:absolute; left:0;  color:#2d2c2c; }
		
		//._ek 							{ padding-left: 0}
		//._ek_1 						{ padding-left: 18px }
		._ek_2 a 						{ padding-left: 0 }

		._ek i 							{ color:#f0c92e; top:1px ; font-size:16px  }
		._sb i 							{ font-size:13px; top:2px}
		._up a 							{ padding-left: 16px }
		._up i 							{ font-size:13px; top:1px}
		._ek_2 em						{ margin:0 2px }
		._ek_2 > s						{ margin:0 2px }

		em,b,em,span,s 					{ font-weight:normal; font-style:normal }
		dd 								{ display:inline }


		// em 								{ margin:0 4px }
		// .pr 							{
		// 	s 							{ font-size:11px}
		// 	s:nth-child(2) 				{ margin: 0 3px  }
			
		// }
		// .file-time 						{ color:#929292; margin-left:12px;
		// 	i 							{ color:#f4c04f; font-size:13px; top:3px; margin:0 3px 0 0  }
		// }
	}


	&:not(.t-1) 						{
		
		figure.ico 						{ 
			a 							{ display:flex;   color:rgba(255,255,255,.8);  align-items:flex-end; justify-content:flex-start; width:100%; height:100%; }
			i.icon-store  				{ font-size:29px; color:rgba(255,255,255,.8); left:12px; bottom:12px }
		}

		figure.store 					{ height: 130px; width: 100%; border-radius: 3px 3px 0 0; background: #c6c8d4 }

		.in,.f-td,.f-td > div  			{ height: 100% }	 
		.td-2 							{ height: calc(100% - 130px) }

		.td-2 .as  						{ padding-top:2px ;
			> span 						{ margin-bottom: 6px }
			._sb  						{ order: 1; margin-bottom:0    }
			//._ek  						{ margin-right: 0   }
			dd							{ display: none    }
		}
	

		// li:hover 							{
		// 	figure.ico.store  i.icon-store  { font-size: 156px; color:#5d5d5d }	
		// }
	}
}