.frame 							{
	
	--app-head : 25px;
	
	.app-menu 					{ bottom: -70px }
	
	.app-body  					{ padding:35px 10px 10px 10px; height:100%;
		iframe 					{ border:0; width:100%; height:100%;}
	}
	
	&.fit .app-body  			{ padding:25px 0 0 0 }

	.app-head 					{
		.sol a  				{ color:#111; font-weight:bold; font-size:11px;
			i 					{ font-size:9px; margin-right:3px;}
		}
		h1 						{ font:bold 10px Open Sans; color:#111; text-transform:normal }
	}
}