.giris					{ min-height:700px;
	
	&.swal2-height-auto { height: 100%!important  }

	.sol  				{ background: url('img/C4.3.jpg') no-repeat center center; background-size:cover;
		figure 			{ max-width:298px; position: absolute; left: 5%; top: 7%}
	}

	.sag 				{ background: #eceaea; padding:36px 24px 16px 20px; width: 440px  }
	 
	
	// takdim baslik
	blockquote 			{
		h1 				{ font:300 26px 'Gotham' }
		p 				{ font:300 15px 'Gotham Narrow'; letter-spacing:.1px }
	}

	// top nav

	.top-nav 					{ 
		.e 						{ font: 600 13px 'Brandon';
			&:not(.buton) 		{ color: #444; &:hover { color: #000 } }
		}
		li 						{ margin-left:35px }
		.context-menu .e i 		{ font-size: 11px  }
		.buton 					{}
	}
	
	// form

	.form 						{
		.f1 					{ background: white; border-radius: 4px }
		.f1 li:first-child 		{ border-bottom: 1px solid #ececec }
		.type-text 				{ font: 300 17px 'Gotham'; height:68px; color:black; text-indent:17px;  background:none }
		.fe .fi 				{ color:#d3d2d2; right:14px }
		.fe .fi i.ss-mail 	{ font-size: 17px }
		.fe .fi i.ss-lock 	{ font-size: 20px; top:1px }
		.form-submit input.buton{ font-weight:300; border-radius: 3px; height: 56px }
		.remember 				{ z-index: 1; top:14px; left:12px; 
			label 				{ font:300 13px 'Gotham'; color:#6f6f6f; bottom:-36px; left:-10px; width:100px; }
			i 					{ font-size:12px; left: 6px;top: 6px;color: #44c8ff;}
			&:hover 			{ 

				.mask-check 	{ background: black }
				label 			{ color: black }
			}
		}
	}

	// help

	nav.help 					{
		ul li 					{ font-size: 13px; margin-bottom: 5px }
	}

	// footer

	footer 						{ font: 400 12px 'Gotham'; padding:0;
		ul li 					{ 
			a 					{ color: #444 }
		}
		p 						{ color: #878585 }
	}

}



@media screen and (device-aspect-ratio: 16/9) {
    .giris			{
    	.sol 		{ background-image: url('img/C16.9.jpg') }
    }
 }



// @media #{$gl-md} { @import "@giris/md" }  	
// @media #{$gl-sm} { @import "@giris/sm" }  	
// @media #{$gl-xs} { @import "@giris/xs" } 
// @media #{$gl-ms} { @import "@giris/ms" }  	
