
.kasa.index 				{

	.app-body .in 			{ top:-20px }

	.kasa-head 				{
		figure 				{ width:60px; margin:0 auto }
		span				{ padding-top: 15px; display:block; font-size:16px; }
		h2 					{ padding-top: 20px; font-weight:600; font-size:60px; line-height:1 }

	}

	.kasa-menu 				{
 		li 					{ width: 265px; }
		h3 					{ @include flex_mc(); color:white; height:60px; border-radius:30px; background:#ed664c; font-weight:400 }	
		span 				{ top:-1px}
		i 					{ top:23px; right:16px; font-size:12px}
		p 					{ color: #222; font:300 14px 'Source Sans Pro'; padding-top:23px; }
	}
}


.kasa.tahsil 				{


	.of-call.note 			{ text-align:center; height: var(--app-body);

		.us 					{ top:-20px;
			p 					{ font: 300 20px 'Gotham' }
			figure 				{ @include circle(80px); background:#ddd;
				i 				{ font-size: 28px; height:24px;top:2px;  line-height:1; display:block; color:white; }
				s 				{ width: 0; height: 0; border-style: solid; border-width: 20px 15px 0 15px; border-color: #ddd transparent transparent transparent; }
				s 				{ position:absolute; right: 21px; bottom: -9px;transform: rotate(19deg); }				    
			}
		}

		.as 					{ width:100%; top:90px; font-family:Gotham; font-size:11px;
			div  				{ max-width:850px; margin:0 auto; color:#555;  }
			h5 					{  letter-spacing:.8px }
			p 					{ line-height:18px; text-align:center;  }
		}
	}

	.on-call 				{
		.us 				{ padding-left:3px; padding-right:3px ; z-index: 1;}
	}

	.us .lft 				{ margin-top:-8px;	
		h2 					{ font:600 13px 'Gotham Narrow'; color:#333; letter-spacing:-.3px; text-transform:uppercase; 
			.cari-code 		{ color:#777; font-weight:400; font-size:12px; letter-spacing:1px; margin-left:4px;  top:-1px }
		}
		
		.us > span 			{ top:-3px;
			i 				{ padding:0 8px; color:#888; top:0px; font-size:16px; }
			a 				{ font-size:14px;  }
		}

		div 				{ font-size:19px; font-family:Open Sans }
		label 				{ color:#696767; margin-right:10px;}
		h3 					{ color:#ee674d; font-size:18px;  font-weight:400;
			sup 			{ font-size:12px; left:1px; top:3px}
		}
		.as > span 			{ color: #89ae26; font: 400 12px Ubuntu; margin-left: 10px;letter-spacing: .2px;}
	}

	.us .rht 				{ width:360px; padding-top:2px;
		.f-price 			{ color:#28b3ed; font-family:'Gotham'; font-size:38px; line-height:15px; height:27px; 
			sup  			{ font-size:18px; top:0px }
		}
		
		.f-birim 			{ color:#28b3ed; font:300 16px Gotham; left:2px; top:-1px}

		.rht-as 			{ z-index: 2;
			 summary 		{ position: absolute; right: 110px; font: 400 11px Ubuntu; letter-spacing: .2px;
			 	i 			{ color:#f7c13e; font-size:12px; top:1px; }
			 	span 		{ color:#ee674d;  }
			 }

			nav.count > * 	{ margin-left: 5px }
			.text 			{ font: normal 11px 'Gotham'; letter-spacing:-.4px; /*  top:-3px; left:-190px; */ top:1px; left:-100px;  white-space: nowrap; color:#999; padding-right:20px; 
				.b i		{ position: absolute; top:0px; color:#999; left:0; font-size:9px  }
				.b 			{ padding-left:15px }
			}
			.count-range 	{ width: 100% }
			input.r-1 		{ z-index: 3; }

			.btn  			{ background:#74b764; padding:0 9px;  color:white; border:0; height:22px;}
			
		}

		.fe 				{ width:100px;
			select 			{ border: 0; font:300 16px Gotham; color:#555 }
			i 				{ font-size:12px }
		}
		 
		.rht-as label 		{ position: absolute; left:-120px; color:#666; font:300 13px 'Source Sans Pro'; top:1px }
	}


	.on-call .as 			{
		
		/*
		> nav 				{ font: 700 13px 'Source Sans Pro';
			a 				{ color:$color-1;
				i 			{ top:2px; color:#777 }
			}
			> span 			{ color:#888;
				i 			{ top:1px; margin-right:2px }
			}
			
		}
		*/
		
		summary 			{ font-size:12px; line-height:18px; font-weight:400; font-family:'Source Sans Pro'; color:#555; letter-spacing:.2px; padding:0 3px;
			b 				{ font-weight:600}
		}	

		.note nav 			{
			button 			{ background:#c0c0c0; height:40px; color:white; width:90px; font-size:12px; font-weight:600; 
				&.auto 		{ border-radius:8px 0 0 8px }
				&.mono 		{ border-radius:0 8px 8px 0 }
				&.on 		{ background:#1b95e0 }
			}

		}
		
	}


	.tb-kasa 				{ 
		table.f 			{ font-size:12px }
		
		.stat 				{ font-weight:600;  color:#403f3f;
			
			 i 				{ margin-right:5px }
			.of  i 			{ color:#f8b136; font-size:14px; top:2px;}
			.on i 			{ color:#64ae37; font-size:14px; top:2px; }
			.on 			{ display: none; font-weight:700; }
			.dusen 			{ display: none; color:#64ae37; font-weight:700; margin-left:10px  }
			.iade 			{ display: none }

		}
		
		.td-borc 			{ color:#888; font-weight:600;
			.flex > span 	{ width:75px }
			i 				{ right:-15px; top:1px; font-size:10px; }
			.v 				{ visibility: hidden  }
			.v.on 			{ visibility: visible }
			.k 				{ color:#ee664c; }
		}

		tr.check 			{
			.stat 			{ color:#4e9a1f;
				.on 		{ display: block }
				.of 		{ display: none  }
			}
			.td-borc .k 	{ color:#4e9a1f;  font-weight:700;}

			&.iade 			{ color: #828282; background: #fbfbfb;
				.td-borc  	{ color: #828282  }
				.td-borc .k { color: #828282; }
				.stat 		{ 
					.on 	{ display: none }
					.iade 	{ display: block; color:#ec3c3c; font-weight:700;
						i   { font-size:14px; top:3px;}
					}
				}
			}
		}

		tr.fell 			{
			.stat .dusen 	{ display: inline }
		}

		tr.check, tr.fell 	{
			.td-borc 		{
				.v 			{ visibility: visible }
			}
		}			
	}



}



.kasa.banka,.kasa.teslim 	{

	.note.t-1 .us			{
		figure 				{ background:#ffc33c; s { border-color:#ffc33c transparent transparent transparent } }
		figure i			{ color:#de490f; font-size:37px; top:-7px }
	}
	
	.step.one 				{
		
		p.lorem 			{ background:#f1f1f1; border-radius: 5px; width:120px;  height:8px; margin-top:9px  }
		.lorem 				{ 
			h4 				{ background:#f1f1f1; border-radius: 5px; width:350px;  margin-bottom:9px; height:10px; }
			p 				{ background:#f1f1f1; border-radius: 5px; width:120px;  height:8px; }
		}
	}

}




.kasa.step-body 			{
	
	.cu-kasa  				{ font-size:20px;
		img 				{ width: 20px; margin-right: 10px }
		.c,.b 				{ color:#ee614e }
		.c 					{ margin-left: 5px }
		.a 					{ margin-right:10px }
	}

	.cu-dots 				{
		i 					{ @include circle(10px); margin-left:5px; background:#c1c1c1;}
		i.on 				{ background:#ee614e }
	}



	.step 					{ 
		summary 			{ font-size:12px; line-height:18px; font-weight:400; font-family:'Source Sans Pro'; color:#555; letter-spacing:.3px; padding:0 3px;
			b 				{ font-weight:600}
		}


		&.t-odeme 			{
			.as 			{ min-height:280px; height: calc( var(--app-body) - 165px ); 
				form 		{ height: calc(100% - 75px ); text-align:center; }
				input 		{ text-align:center;}
				.a 			{ height: calc(100% - 54px); padding:30px 0 }
				.a input 	{ color:#2b99df; font:100 66px 'Gotham'; @include placeholder(#2b99df,.7) }
				.add-money 	{ @include flex_mc();display:block; text-align:center; }
				.b 			{}
			}

		}

	}
	
}

html.m-imza .kasa 						{
	
	.app-body 							{ z-index: unset }
}




@media #{$gl-md} 		{  @import "@kasa/md" }