.dt-play 								{ 
	//.f-td a 							{ display: flex }
	
	figure.ico 							{ background:#d0d0d0; @include flex_mc(); color:white;  width:42px; height:42px; border-radius:3px;
		a 								{ color: white  }
		i.ss-play 						{ font-size:21px; top:2px }
		
	}
	
	> li 									{
		
		
	
		//.td-3 nav 						{ visibility: hidden;animation-name:fadeOut;  padding-right: 50px ; animation-duration: 1s; animation-fill-mode: both; }
		//.td-3 nav 						{ padding-right:50px }
		//&:hover .td-3 nav 				{ visibility: visible ; animation-name:fadeIn; }
	}


	&.t-1 								{
		.td-1 							{ @include colsize(64px) }	
	}


	.td-2 h4 							{ margin-bottom: 5px; line-height:1  }	
	
	> li .head  						{ color:#929292 }
	

	.td-2 .as 							{ font-size:12px; display:flex;flex-wrap: wrap; left:-1px;	
		
		> span 							{ margin-right: 12px;   } 
		
		a 								{ padding-left:18px;   }
		i 								{ position:absolute; left:0;  color:#2d2c2c; }
		
		
		._sb 							{ padding-left:16px }
		._sb i 							{ font-size:13px; color:#f4c04f; top:2px}
		._sb em 						{ margin:0 4px }
		._sb a 							{ padding-left:0 }
	

		em,b,em,span,s 					{ font-weight:normal; font-style:normal }
		dd 								{ display:inline }


	
	}


	&:not(.t-1) 						{
		
		figure.ico 						{ 
			a 							{ display:flex;   color:rgba(255,255,255,.8);  align-items:flex-end; justify-content:flex-start; width:100%; height:100%; }
			i.ss-play 					{ font-size:29px; color:rgba(255,255,255,.8); left:12px; bottom:12px }
		}

		figure.ico 						{ height: 130px; width: 100%; border-radius: 3px 3px 0 0; background: #c6c8d4 }

		.in,.f-td,.f-td > div  			{ height: 100% }	 
		.td-2 							{ height: calc(100% - 130px) }

		.td-2 .as  						{ padding-top:2px ;
			//> span 					{ margin-bottom: 6px }
			//._sb  					{ order: 1; margin-bottom:0    }
			//dd						{ display: none    }
		}
	

	
	}
}