.dt-screen 							{
	
	
	figure.ico 							{ @include flex_mc(); background:#ececec; color:#afafaf;  width:42px; height:42px; border-radius:3px;
		a 								{ color: #afafaf  }
		i.ss-airplay 					{ font-size: 24px;line-height: 1;left: .5px;height: 18px;top: -1px;}
		.ss-check 						{ position: absolute;color: #ffffff;top: -12px;left: 4px;font-size: 6px;background: #1abd55;width: 10px;height: 10px;border-radius: 10px;line-height: 1.84;text-indent: 1.8px;border: 1px solid white;box-sizing: content-box;} 
		.ss-ban 						{ font-size: 10px;position: absolute;top: -11px;color: #dc645d;z-index: 0;left: 4px;background: white;border-radius: 10px;width: 10px;height: 10px;z-index: 1;}
		
		.stat-text 						{ color:white; top: 12px; left: 10px; color:white; display: none; font-size:11px;
			
			//s 						{ border: 1px solid rgba(255,255,255,.6); width: 18px;height: 18px;border-radius: 18px;margin-right: 6px; background: #acafc3; }
			//i 						{ width: 10px; height: 10px;background: #f93b5e;display: block;border-radius: 14px;border: 2px solid #ffffff;top: 3px;left: 3px }
			//s 						{ width:16px; height:16px; border-radius:16px;}
			i 							{ margin-right:6px; top: 3px; left: 3px; font-size:10px; border-radius:1em;width: 1em; height: 1em; border:2px solid white;display:block }

			


		}
	}
	


	&.t-1 								{
		
		.td-1 							{ @include colsize(64px) }	
		.td-2 							{ height:42px }
		
		.head ._time 					{ margin-left:-2px }	
		.head h4 						{ margin-top:-2px }

		li.on-err 						{
			figure.ico 					{ background:#fbcac7;
				a 						{ color:white }
			}
		}

		li.sleep 						{
			figure.ico 					{ background:#d4d1ea;
				a 						{ color:white }
			}
		}

	}

	.td-code 								{ color:#716969; visibility: hidden;  font:normal 12px 'Brandon'; letter-spacing:.5px; text-transform: uppercase }

	.s-record 								{ font-size:11px; color:#8a8888; margin-right:22px;
		li 									{ padding-left:17px; height:15px; }
		i 									{ color:#f33c18; font-size:16px; left:0; position:absolute; }
		.ss-lock 							{ font-size:14px; top:-1 }
		.ss-ban 							{ font-size:15px; top:1px   }
		li:nth-child(2) 					{ margin-left:12px}
	}

	.s-device 								{ border:1px solid #ececec; height:26px; border-radius:13px; 
		li 									{ border-left:1px solid #ececec; cursor:default; padding:0 8px;	 @include flex_mc();
			&:hover 						{ background:#f9f9f9 }
			&:first-child 					{ border:0 ; border-radius:13px 0 0 13px}
			&:last-child 					{ border-radius:0 13px 13px 0}
			b 								{ font-weight:normal; color:#4a4949; font-size:11px;   padding-left:5px ; transition: font-size .1s }

			i 								{ color:#60e19c;
				&.ups 						{ color:#f33c1e }
				&.ss-usb 					{ transform: rotate(90deg);left:-2px }
				&.ss-wifi 					{ font-size: 11px; top:2px }
				&.ss-airplay 				{ font-size: 13px; top:2px }
				&.icon-lan1 				{     font-size: 12px; left: 1px; top: .5px; }
			}
			&.off 							{ 
				i,b 						{ color:#f33c1e}
			}
		}
	}

	li.on-err,li.sleep,li.close 			{
		figure.ico 	.ss-check 				{ display:none }
		.stat-text 	i 						{ background:#f94b6b }
	}

	li.sleep 								{
		.head .as ._time dd:nth-child(5) 	{ font-weight:700;  color:#4e4e4e }
		.head .as ._time i,
		.s-device li.tv.off i,
		.s-device li.tv.off b				{ color:#a9a3d8 }
		.stat-text 	i 						{ background:#a289f4 }
	}

	li.close 								{
		.s-device  b 						{ display: none;}
		.s-device  li i		 				{ color:#999}
	}






	> li:not(:hover) 						{
	
		.s-device 							{
			li 								{ 
				b 							{ font-size:0; padding-left:0 }
				i 							{ 
				}
			}
		}
	}

	
	
	> li:hover 								{
		
		&:not(.close) 						{

			.td-code 						{ visibility: visible }
			.s-record 						{ margin-right:15px; top:1px;
				li 							{ border-radius: 18px;width: 18px;padding: 0;height: 18px;background: #d23d3d }
				li:nth-child(2) 			{ margin-left:6px}
				i.ss-play 					{ left: 4px; top: 3px; font-size: 12px }
				i.ss-lock 					{ font-size: 12px; top: 2px; left: 3px  }
				i.ss-ban 					{ font-size: 12px; top: 2px; left: 3px  }
				i							{ color:white }
				li span 					{ display:none }
			}
		}
	}




	.head 									{ color:#929292;

		h4 									{ margin-bottom:5px; color:#222 }

		.as 								{ font-size:12px; display:flex; flex-wrap: wrap;
		
			em,b,em,span,s 					{ font-weight:normal; font-style:normal }
			dd 								{ display:inline }

			> span 							{ margin-right: 10px; } 

			.ico 							{ position:absolute; left:0;  color:#2d2c2c; }

			._time 							{ color:#929292; display: flex ; padding-left:18px }
			._time s						{ margin:0 4px; top:-1px  }
			._time i						{ color:#f4c04f; font-size:16px;  top:1px }

			._wall 							{ color:#484444; display: flex ; padding-left:16px;
				.ss-pixels					{ color:#777171; font-size:13px; top:2px}
				.ss-navigateright 			{ color:#e6ac3c; margin: 0 3px 0 4px;  top:4px; font-size:9px }
				dd i						{ font-size:9px; margin:0 3px 0 2px; top:-1px }
			}
			
			span em								{ margin:0 3px 0 2px }
		}
	}



	&:not(.t-1) 						{
		
		//> li .fi .fi-over 			{ width:unset; height:unset ; position:absolute; top:auto; left:10px; bottom:15px }

		figure.ico 						{ 
			//align-items:flex-end; justify-content:flex-start;
			a 							{ color:rgba(255,255,255,.8); width:100%; height:100%; }
			i.ss-airplay  				{ font-size:29px; color:rgba(255,255,255,.8); top:auto; left:10px;  bottom:16px  }
			.ss-check 					{ top: auto; bottom: 24px; left: 27px }
			.ss-ban 					{  top: auto; bottom: 25px; left: 30px}
			.stat-text 	 				{ display: flex }
		}

		


		figure.ico 						{ height: 130px; width: 100%; border-radius: 3px 3px 0 0; background: #bcbeca }

		.in,.f-td,.f-td > div  			{ height: 100% }	 
		.td-2 							{ height: 110px; padding-left:12px }

		.td-4,.td-3 					{ position: absolute }
		.td-4 							{ margin-right: 0; right:8px; bottom:8px }
		.td-stat .s-device				{ background:white; border:0; border-radius:4px  }
		.td-stat .s-device b			{ display:none  }
		.td-3 							{ bottom: 13px; left: 12px;}

		

		
		.head .as  						{ padding-top:0px ; left:-2px; font-size:11px
			//> span 					{ margin-bottom: 6px }
			//._sb  					{ order: 1; margin-bottom:0    }
			//dd						{ display: none    }
		}
	
	}
}


