html:not(.no-cari) .sepet.on 		{

	&:not(.stick-23):not(.ob-load) 	{
		--app-head : 40px;
		.app-head 					{ border-bottom:0 }
	}
}


html.cxt .sepet 				{

	.con-us.f-1 .cs-one			{ z-index:6; border-color: white }
}


.sepet 							{

	&.load 						{ pointer-events: none; opacity: .8 }

	&:not(.on) 					{
		.app-head  				{ .sepet-link,.edit-link { display: none} }
	}

	&.on 						{
		.app-head  				{ .cari-link { display: none } }
	}
	

	.app-head .dt-ctrl 				{ visibility: hidden; right: -100%; transition: .3s; }

	/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - 
	@  Sticky icin head ayarlari  */

	&.stick-150 .app-head   		{ box-shadow: unset  }
	&.stick-150 .app-head .dt-ctrl 	{ visibility: visible; right:0 }


	/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - 
	@  Content > Us */


	.con-us.f-1 					{
		.cs-one 					{ background:#f6f6f6; text-align:center; border-bottom:1px solid #e5e5e5; padding:0 0 10px 0 }
	}

	/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - 
	@  Content > Us */	
	

	.data-as 					{ padding-top:25px; padding-bottom:80px;
		
		> .in  					{ background:#f7f7f7; background: linear-gradient(to bottom, #f7f7f7 0%,#ffffff 100%); padding:0 10px; border-radius:10px; }
		.field-not textarea		{ padding:2px; background:none; font:300 14px Gotham; @include placeholder(#777,1,false)}
		.e-trash 				{ color:#e74646; font-size:14px; font-weight: 600;
			i 					{ top:2.5px; margin-right:3px }
			span span 			{ color: #555; font:300 11px gotham; letter-spacing: .3px;top: -1px;}
		}

		.field-ftr 				{ display:none; border-top:1px solid #e2e2e2;
			.fe .fi 			{ color:#f58d47; 
				i 				{ font-size:19px }
			}
			.ln 				{ border-color:#e2e2e2 ; height:62px;
				input[ft] 		{ background: none; padding-left:30px; font:400 15px 'Gotham'; }
			}
			.ln > label 		{ font:400 15px 'Gotham'; color:#444; top:1px; min-width:150px}

		}

		

		.f-submit 				{
			> span s 			{}
		}
		

		.row .net 							{ font: 300 13px 'Ubuntu'; top:1px; padding-right:50px; letter-spacing:.5px; color:#777;
			dd,dt 						{ display:inline; color:#333; font-weight:400 }
			span 						{ color:#333; font-weight:400 }
			i 							{ color:#66b983; top:1px; margin-right:7px; font-size:11px  }
		}
		

	}

	&.BM1-3 						{

		.data-as .field-ftr  		{ display: flex }
		.dt-tutar > div  			{ &:last-child { border:0 } }
		.dt-tutar:not(.idm) .t-top 	{ border:0}
	}
	



	.of-body.note 				{ text-align:center; height: var(--app-body);

		.name 					{ width:100%; font:300 13px 'Gotham Narrow'; letter-spacing:.8px; text-align:center; font-size:12px;
			span 				{ display:block; margin-bottom:6px }
		}

		.us 					{ 
			h3 					{ font: 400 26px 'Gotham'}
			p 					{ font: 300 19px 'Gotham' }
			a span 				{ top:-1px }
			figure 				{ @include circle(80px); background:#ddd;
				i 				{ font-size: 28px; height:24px;top:2px;  line-height:1; display:block; color:white; }
				s 				{ width: 0; height: 0;border-style: solid;border-width: 20px 15px 0 15px;border-color: #ddd transparent transparent transparent; }
				s 				{ position:absolute; right: 21px; bottom: -9px;transform: rotate(19deg); }				    
			}
			> span a			{ color: $color-1; top:15px;  font-size:11px; font-weight:400;

			}
		}



	}


	.of-cari.note 				{ text-align:center; height: var(--app-body);

		.us 					{ top:-20px;
			p 					{ font: 300 20px 'Gotham' }
			figure 				{ @include circle(80px); background:#ddd;
				i 				{ font-size: 28px; height:24px;top:2px;  line-height:1; display:block; color:white; }
				s 				{ width: 0; height: 0;border-style: solid;border-width: 20px 15px 0 15px;border-color: #ddd transparent transparent transparent; }
				s 				{ position:absolute; right: 21px; bottom: -9px;transform: rotate(19deg); }				    
			}
		}

		.as 					{ width:100%; top:90px; font-family:Gotham; font-size:11px;
			div  				{ max-width:850px; margin:0 auto; color:#555;  }
			h5 					{  letter-spacing:.8px }
			p 					{ line-height:18px; text-align:center;  }
		}

	}


	/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - 
	@  Data Table */

	.dt-sepet 								{
	
		&.on-chk  							{ --dt-tr-h:101px }

		li textarea 						{ background:#aba9b6; color:white; font-family:monospace;height:58px; border-radius:4px; margin-top:16px; }
	
		.td-head 							{ padding-top:6px;
			
			h4 								{ font:300 13.5px 'Ubuntu';  color:black;  display:flex; align-items:center;}
			div 							{ font-family:'Ubuntu'; font-size:12px; padding-top:2px; @include flex_yc()}
			
			.c-top 							{ font-weight:300 ; font-size: 12px ;top:-1px; }
			
			span.gr 						{ font-size: 11px; font-family: ubuntu;letter-spacing: .5px;color: #888;font-weight: 400;
				em 							{ padding:0 7px 0 7px; }
				i  							{ top:0px; color:#777; font-size: 8px }
			}

			.tag-code 						{ color:#686868; letter-spacing:.5px }
			.tag-calc 						{ margin-left:7px;
				> * 						{ transition:.5s; opacity:.3s }
			}
			
			.c-tur 							{ color:#ea501b;  padding-left:15px;
			
				.brm-tot 					{ font-weight:500;  }
				.brm-tur 					{ font-weight:300; padding-left:2px }
				i 							{ top:1px; font-size:11px; position: absolute; left:0; }
			}

			.c-top 							{ font-size:11px; letter-spacing:.3px; margin-left:5px; color:#666;
				b 							{ font-weight:500 }
				.net-tur 					{ padding-left:3px;}
			}

			
			/*
			i 								{ color:#555;  position:absolute; left:0; font-size:13px; top:1px }
			p 								{ padding-left:18px; font-size:12px; }
			.num 							{ color:#ea501b;  font-weight:600; 
				.f-tur 						{ padding-left:2px} 
			}
			.num  b							{ font-weight:600 }
			.sum  							{ color:#333; font-size:11px;
				
				> span 						{ display: none  }
				> span.on					{ display: inline }
			}
			.sum s:nth-child(1) 			{ margin-right:2px}
			.sum s:nth-child(3) 			{ margin-left:3px}
			*/
		}
	
		&.of-detay 							{
			.td-head .c-top					{ opacity: 0 }
			&:not(.of-brm) .td-head .c-tur	{ opacity: 0 }
			.td-head  span.gr  				{ font-size:11px }
			.td-head  span.gr i 			{ color:#ff7260 }
		}
		
		.e-td  								{ padding-top: 1px; color:#333; font-size:12px;
			em								{ font-size:10px; color:#888; top:-1px; left:-21px; font-weight:300;}
			
			.td4 em 						{ left:-27px }
			.td4 em 						{ left:19px; position: absolute; top:2px }
			
			
		}

		// &:not(.of-kdv) .e-td .td5 em 		{ animation-name: zoomIn }


		.thead-wrap							{ height:18px;
			
			h3 								{ display: none; font:700 12px Brandon; letter-spacing:.5px }
			
			.stick.on 						{ box-shadow: 0 2px 12px rgba(0,0,0,.4); animation: thead .3s;   position: fixed; left:0; top:50px; transform:translateY(0px); height:36px; background:#fafafa; border-bottom:1px solid #eaeaea; width:100%; z-index:5;
				h3 							{ display: block }
				> s 						{ display: none  }
				.thead 						{ color:#555}
			}
			
			.stick.of 						{ transform: translateY(-40px) }
		}
	


		@keyframes thead {
		  0% {
		   transform: translateY(-40px);
		  }
		  100% {
		    transform: translateY(0px);
		  }
		}

		.td-buy  							{
			
			.pins 							{ position:absolute; left:0; right:auto; top:7px}
		}


		.td-add  							{
			button 							{ background:#e9e9e9;  border-radius:4px; width:70px; height:66px;  
				
				i  							{ background: url(img/smile.png) no-repeat calc(50% - 1px) center; top: 7px; left: -2px;width: 100%;  height: 24px; background-size: 32px; position:absolute;  }
				i  							{ animation: flash 1.7s linear infinite; }
  		
				b 							{ background:#8ab84f; padding:6px 2px; color:white; font-weight:bold; font-size:11.5px; border-radius:0 0 4px 4px; width:100%; position:absolute; bottom:0; left:0;  }
				.trin 						{ left:-4px; bottom:11px}
				.trin s 					{ background:#8ab84f; font-size:7px }

			}
			> span 							{ font-size:12px; color:#5474a8; font-weight:700; width:max-content; bottom:7px; position:absolute; right:103px; text-align:right}
			
		}

		.tbody 								{
			
			.td4 							{ color:$color-2; font-weight:600 }
			.td3 							{
				
			}

			li.st .un-st 					{ display: none }

			li.oneri:not(.of) 				{
				.td-add 					{ display: none }
			}

			li.oneri.of 					{
				.touch-us 					{ left:0!important;}
				.td-edit 					{ display: none }
				.e-td li:not(.td-add) 		{ top:-12px }
			}

		}
	}


}



@media #{$gl-lg-min} 						{ 
	
	.sepet 									{ 
		
		.dt-sepet							{ --dt-tr-h : 115px;
			&.on-chk  						{ --dt-tr-h : 115px  }
		}
			
		.ul-table.t-1 						{

			 .td-thead h4 					{ margin-bottom:8px }

			 .tbody > li .td-urun 			{ @include colsize(110px);

				.thumb 						{ max-height: 82px; max-width:100% }
				.thumb .real 				{ height: 100%; width:auto;left: 50%; transform: translateX(-50%)  }
			}	
		}

	}
}



@media #{$gl-sm} 							{
	
	.sepet  								{

		.con-us .uf-5 .uf  					{ font-size:13px}

		.dt-sepet 							{
			.td-head h4  					{ font-size: 13px }
			.td-head div 					{ font-size: 10px }
			.td-head  						{ padding-top:2px }
			.e-td  							{ font-size: 11px }
			.td-head .c-top  				{ font-size: 9px}
		}

		.ul-table.t-1 						{
			.thead 							{ font-size:13px }
	 		.tbody > li .td-urun .thumb 	{ max-width:70px; max-height:60px }
	 		.tbody > li .td-urun  			{ $w:82px; width:$w; max-width:$w; min-width:$w; padding-right:0 }
	 		.td7 							{ position: absolute; right: 0; bottom: -46px }
	 		nav.count.t-5 button span 		{ width:32px; height:26px}		

		}
	}
}


@media #{$gl-xs} 							{
	
	.sepet 									{
		
		--dt-tr-px: .6rem;
		.con-us.f-1 .cs-one					{ font-size:11px; padding-bottom:8px}
		
		.dt-sepet 							{
			.e 								{ padding:.6rem }
			//--dt-tr-py: 15px;
		    //--dt-tr-h: 101px;
		    --td0: 51px;
		    --td3: 11Opx;
		    --td4: 56px;
		    //--td5: 80px;
		    --td5: 44px;
		    --td6: 55px;
		    //--td7: 95px;
			.thead-wrap h3 					{ font: 400 11px 'Ubuntu'; padding-left:2px;}
			.e-td 							{ position: absolute;  right:0; bottom:3px }
			.td-head  						{ padding-top:0px }
			.td-head h4  					{ font-size:12px }
			.td-head span.gr 				{ top:1px}
			.td-head span.gr i				{ font-size:7px; }
			.td-head span.gr em 			{ top:0; padding:0 4px; }
			.dt-sepet .e-td em  			{ position: absolute; }
			.e-td .td4 em  					{ left:6px; top:0}
			.e-td .td5 em  					{ left:-11px;  top:-1px}

			&.on-chk  	
			 								{
				.td-head,.e-td 				{ opacity:.6 }
			}
		}


		.ul-table.t-1  						{
			.thead 							{ font-size:12px }
			.f >:not(.f) 					{ padding-left:.3rem; padding-right:.3rem }
			.f 								{ margin-left: -.3rem; margin-right: -.3rem;}
			.tbody > li .td-urun .thumb 	{  max-width:100%; max-height:unset  }
			.tbody > li .td-urun  			{ $w:64px; width:$w; max-width:$w; min-width:$w; padding-right:.3rem }
			.thead .td-brm a i 				{ font-size:8px}
			.td7 							{ bottom: 40px; display:none }
		}
	
		.data-as  								{
			
			.field-not textarea 				{ font-size:13px }
			
			.f-submit span						{ width:100%;
				button 							{ width:100%; border-radius:5px; }
			}
			.e-trash 							{ font-size:12px }

			

		}


		.of-body.note 				{ padding: 0 1rem;

			

			.us 					{ 
				h3 					{ font-size:22px }
				p 					{ font-size:15px; line-height:20px }
				a span 				{ top:-1px }
				figure 				{ @include circle(60px); background:#ddd;
					i 				{ font-size: 28px; height:24px;top:2px;  line-height:1; display:block; color:white; }
					s 				{ width: 0; height: 0;border-style: solid;border-width: 20px 15px 0 15px;border-color: #ddd transparent transparent transparent; }
					s 				{ position:absolute; right: 21px; bottom: -9px;transform: rotate(19deg); }				    
				}
				.btn.b-8 			{ font-size:15px }
				>span a 			{ top:0 }
			}



		}

	}

	


	.dt-tutar 								{
		.t-ek 								{ padding:10px 0}
		.it > span  						{ width:180px; }
		.t-top label 						{ font-size: 17px}
		.t-top .mon 						{ font-size:21px }
		.t-top s  							{ font-size:12px }
		.com-idm.it label					{ font-size:13px }
		.com-idm.it .mon 					{ font-size:14px }
		.t-ek ol 							{ font-size: 11px }
		
		.t-idm .it u 						{ font-size:9px }
		.t-idm ol .it u 					{ topp:2px}

		
	}
}